# NumPy

In [1]:
#1.	The Lucky Lottery Generator: Create a random lottery ticket generator that selects 6 unique numbers between 1 and 50

import random

def generate_lottery_ticket():
    lottery_ticket = random.sample(range(1, 51), 6)
    return lottery_ticket

lottery_ticket = generate_lottery_ticket()
print(lottery_ticket)

[19, 9, 49, 47, 30, 42]

In [2]:
import numpy as np

def generate_lottery_ticket():
    np.random.seed(42)
    lottery_ticket = np.random.choice(range(1, 51), size=6, replace=False)
    return lottery_ticket

lottery_ticket = generate_lottery_ticket()
print(lottery_ticket)

[14 40 31 46 18 49]

In [4]:
#2. The Fastest List in the West

import numpy as np
import time

start_time = time.time()
list_of_1million = list(range(1, 1000001))
end_time = time.time()
lists = end_time - start_time
print(lists)
#print(list_of_1million)

start_time = time.time()
array_of_1million = np.arange(1, 1000001, dtype=int)
end_time = time.time()
array = end_time - start_time
print(array)
#print(array_of_1million)

if lists > array:
    print("Array is faster")
else:
    print("List is faster")


"Array is faster" if lists > array else "List is faster"

0.0441279411315918
0.0037126541137695312
Array is faster

'Array is faster'

In [6]:
#3.	NumPy Temperature Converter

import numpy as np
import pandas as pd

def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

def celsius_to_kelvin(celsius):
    kelvin = celsius + 273.15
    return kelvin

def fahrenheit_to_kelvin(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    kelvin = celsius + 273.15
    return kelvin

while True:

  print('1. Celsius to Fahrenheit')
  print('2. Fahrenheit to Celsius')
  print('3. Celsius to Kelvin')
  print('4. Fahrenheit to Kelvin')
  print('5. Exit')

  array = int(input(f"Enter the conversion type number: "))
  if  array == 1:
      celsius = float(input("Enter the temperature in Celsius: "))
      fahrenheit = celsius_to_fahrenheit(celsius)
      print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit. \n")
  elif array == 2:
      fahrenheit = float(input("Enter the temperature in Fahrenheit: "))
      celsius = fahrenheit_to_celsius(fahrenheit)
      print(f"{fahrenheit} degrees Fahrenheit is equal to {celsius} degrees Celsius. \n")
  elif array == 3:
      celsius = float(input("Enter the temperature in Celsius: "))
      kelvin = celsius_to_kelvin(celsius)
      print(f"{celsius} degrees Celsius is equal to {kelvin} degrees Kelvin. \n")
  elif array == 4:
      fahrenheit = float(input("Enter the temperature in Fahrenheit: "))
      kelvin = fahrenheit_to_kelvin(fahrenheit)
      print(f"{fahrenheit} degrees Fahrenheit is equal to {kelvin} degrees Kelvin. \n")
  elif array == 5:
    break
  else:
    print("Invalid conversion type. \n")

1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Celsius to Kelvin
4. Fahrenheit to Kelvin
5. Exit
1.0 degrees Celsius is equal to 33.8 degrees Fahrenheit.

1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Celsius to Kelvin
4. Fahrenheit to Kelvin
5. Exit
5.0 degrees Celsius is equal to 41.0 degrees Fahrenheit.

1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Celsius to Kelvin
4. Fahrenheit to Kelvin
5. Exit

In [7]:
# 4.	The NumPy Buzzword Bingo

import numpy as np

words = np.array(["AI", "Data", "Python", "ML", "Deep Learning", "Algorithm", "Big Data", "NumPy", "Pandas", "TensorFlow", "Neural Network", "Statistics", "Optimization", "Regression", "Classification", "Clustering", "GPU", "Cloud", "API", "Blockchain", "Automation", "Visualization", "SQL", "Database", "Chatbot"])
array = words.reshape(5,5)
print(array,"\n")

# Shuffle and select 24 words (excluding the center)
np.random.shuffle(words)
board = array[:24]

# Insert "FREE" in the center
board[2, 2] = "FREE"
print(board)

[['AI' 'Data' 'Python' 'ML' 'Deep Learning']
 ['Algorithm' 'Big Data' 'NumPy' 'Pandas' 'TensorFlow']
 ['Neural Network' 'Statistics' 'Optimization' 'Regression'
  'Classification']
 ['Clustering' 'GPU' 'Cloud' 'API' 'Blockchain']
 ['Automation' 'Visualization' 'SQL' 'Database' 'Chatbot']]

[['Clustering' 'GPU' 'Deep Learning' 'TensorFlow' 'Chatbot']
 ['Visualization' 'Neural Network' 'Algorithm' 'API' 'Optimization']
 ['Cloud' 'SQL' 'FREE' 'AI' 'Regression']
 ['Python' 'Database' 'NumPy' 'Statistics' 'Big Data']
 ['Classification' 'Blockchain' 'Data' 'Automation' 'Pandas']]

In [8]:
#5.	The AI Dice Roller: Simulate rolling two dice using NumPy and print their sum.

import numpy as np

dice1 = np.random.randint(1,7,1)
print(dice1)

dice2 = np.random.randint(1,7,1)
print(dice2)

sum = dice1 + dice2
print(f"Total sum is {sum}")

[2]
[2]
Total sum is [4]

# Pandas

In [9]:
#1.	Supermarket Sales Tracker: Create a Pandas DataFrame that stores:
#a.	Product Names
#b.	Price
#c.	Stock Quantity
#d.	Find out which product is the most expensive and which has the lowest stock.

data = {'Product Names':['A','B','C'],'Price':[10,20,30],'Stock':[100,200,150]}
df = pd.DataFrame(data)
print(df)
Expensive = df['Price'].max()
Lowest = df['Stock'].min()
print(f"Expensive: {Expensive}")
print(f"Lowest: {Lowest}")

Expensive_Product = df.query('Price == @Expensive')
Lowest_Stock_Product = df.query('Stock == @Lowest')
print(f"Expensive Product: {Expensive_Product['Product Names']}")
print(f"Lowest Stock: {Lowest_Stock_Product['Product Names']}")

  Product Names  Price  Stock
0             A     10    100
1             B     20    200
2             C     30    150
Expensive: 30
Lowest: 100
Expensive Product: 2    C
Name: Product Names, dtype: object
Lowest Stock: 0    A
Name: Product Names, dtype: object

In [10]:
#2.	Movie Mania: Load the IMDb movie dataset and answer:
#a.	How many movies are in the dataset?
#b.	What’s the highest-rated movie?
#c.	What’s the most common genre?
#d.	Hint:
#df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv")

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/imdb_1000.csv")
#print(df)

Number_of_movies = df['title'].count()
print(f"Number of movies {Number_of_movies}")

High_rated =df.iloc[df['star_rating'].idxmax()]
print(f"{High_rated['title']} {High_rated['star_rating']}")

genre_counts = df['genre'].value_counts()
most_common_genre = genre_counts.idxmax()
print(f"{most_common_genre} {genre_counts.max()}")

Number of movies 979
The Shawshank Redemption 9.3
Drama 278

In [ ]:
#3.	The Missing Data Detective: Load a dataset and check for missing values. If any are found, fill them with appropriate values.

import pandas as pd
df = pd.read_csv(r"G:\DIYguru\Data-Science-and-Engineering-Analytics\Assignments\other_source_files\Diabetes Missing Data.csv")
#print(df) #[768 rows x 9 columns]

#df = df.dropna(inplace=False)
#print(df) #[392 rows x 9 columns]

df = df.fillna({'Skin_Fold': df['Skin_Fold'].mean()}, inplace=False)
print(df.fillna(0))

     Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0           6    148.0          72.0   35.00000            0.0  33.6
1           1     85.0          66.0   29.00000            0.0  26.6
2           8    183.0          64.0   29.15342            0.0  23.3
3           1     89.0          66.0   23.00000           94.0  28.1
4           0    137.0          40.0   35.00000          168.0  43.1
..        ...      ...           ...        ...            ...   ...
763        10    101.0          76.0   48.00000          180.0  32.9
764         2    122.0          70.0   27.00000            0.0  36.8
765         5    121.0          72.0   23.00000          112.0  26.2
766         1    126.0          60.0   29.15342            0.0  30.1
767         1     93.0          70.0   31.00000            0.0  30.4

     Diabetes_Pedigree  Age  Class
0                0.627   50      1
1                0.351   31      0
2                0.672   32      1
3                0.167   21      0
4                2.288   33      1
..                 ...  ...    ...
763              0.171   63      0
764              0.340   27      0
765              0.245   30      0
766              0.349   47      1
767              0.315   23      0

[768 rows x 9 columns]

In [16]:
#4.	The Birthday Analyzer: Create a DataFrame with 10 people’s names and birthdays, then calculate their age based on today’s date.
#a.	Hint:
#from datetime import datetime
#b.	Find out who has the next upcoming birthday!

import pandas as pd
from datetime import datetime as dt

df = pd.DataFrame({
    "Name": [
        "Alice Johnson", "Bob Smith", "Charlie Brown", "David Wilson", "Ella Martinez",
        "Frank Thomas", "Grace Lee", "Henry Adams", "Isabella White", "Jack Robinson"
    ],
    "Birthday": [
        "1990-01-15", "1985-05-22", "2000-07-30", "1995-03-10", "1988-09-25",
        "1992-06-18", "1980-12-05", "1975-04-09", "2003-11-14", "1998-08-27"
    ]
})

#print(df)
today = dt.today().strftime("%Y-%m-%d")
current_year = dt.today().year
df['current_year'] = current_year
df['Birthday_year'] = pd.to_datetime(df['Birthday']).dt.year
df['Age'] = current_year - df['Birthday_year']

print(df)

             Name    Birthday  current_year  Birthday_year  Age
0   Alice Johnson  1990-01-15          2025           1990   35
1       Bob Smith  1985-05-22          2025           1985   40
2   Charlie Brown  2000-07-30          2025           2000   25
3    David Wilson  1995-03-10          2025           1995   30
4   Ella Martinez  1988-09-25          2025           1988   37
5    Frank Thomas  1992-06-18          2025           1992   33
6       Grace Lee  1980-12-05          2025           1980   45
7     Henry Adams  1975-04-09          2025           1975   50
8  Isabella White  2003-11-14          2025           2003   22
9   Jack Robinson  1998-08-27          2025           1998   27

In [ ]:
#5.	The Olympic Medal Counter: Load Olympic medal data and find:
#a.	The country with the most gold medals
#b.	The top 5 countries by total medals
#c.	The country with the highest medal-to-population ratio
#d.	Hint:

import pandas as pd
df = pd.read_csv(r"G:\DIYguru\Data-Science-and-Engineering-Analytics\Assignments\other_source_files\sample_olympics_data_with_population.csv")
#print(df)

gold_medals = df.query('Medal == "Gold"')
most_gold_country = gold_medals["Country"].value_counts().idxmax()
#print(gold_medals)
#print(most_gold_country)

top = df['Country'].value_counts().head(5)
#print(top)

df["Total Medals"] = df["Country"].map(df["Country"].value_counts())
df["Medal-to-Population Ratio"] = df["Total Medals"] / df["Population"]
print(df[['Country','Total Medals','Medal-to-Population Ratio']].drop_duplicates())

     Country  Total Medals  Medal-to-Population Ratio
0        USA             4               1.208459e-08
2      Japan             2               1.587302e-08
3     France             1               1.492537e-08
4         UK             1               1.470588e-08
5    Germany             1               1.204819e-08
6  Australia             1               4.000000e-08
7     Brazil             1               4.694836e-09
9      China             1               7.142857e-10