In [ ]:
#import csv into df

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl
import os

# Set the working directory
os.chdir(r"G:\DIYguru\Data-Science-and-Engineering-Analytics\Assignments\other_source_files")
# Read the CSV file into a DataFrame
df_Gas = pd.read_excel("VED_Static_Data_ICE&HEV.xlsx")
df_EV = pd.read_excel("VED_Static_Data_PHEV&EV.xlsx")

# Display the first few rows of the DataFrame
print(df_Gas.head())
print(df_EV.head())

   VehId Vehicle Type Vehicle Class Engine Configuration & Displacement  \
0      2          ICE           Car                       4-FI 2.0L T/C
1      5          HEV           Car                 4-GAS/ELECTRIC 2.0L
2      7          ICE           SUV                           6-FI 3.6L
3      8          ICE           Car                           4-FI 1.5L
4     12          ICE           Car                           4-FI 1.8L

  Transmission Drive Wheels Generalized_Weight
0      NO DATA      NO DATA               3500
1      NO DATA      NO DATA               3500
2    AUTOMATIC      NO DATA               4500
3  5-SP MANUAL      NO DATA               2500
4      NO DATA      NO DATA               2500
   VehId EngineType Vehicle Class Engine Configuration & Displacement  \
0      9       PHEV           Car                 4-GAS/ELECTRIC 1.4L
1     10         EV           Car                            ELECTRIC
2     11       PHEV           Car                 4-GAS/ELECTRIC 2.0L
3    371       PHEV           Car                 4-GAS/ELECTRIC 2.0L
4    379       PHEV           Car                 4-GAS/ELECTRIC 1.4L

  Transmission Drive Wheels  Generalized_Weight
0      NO DATA          FWD                4000
1      NO DATA          FWD                3500
2          CVT          FWD                4000
3          CVT          FWD                4000
4      NO DATA          FWD                4000

In [50]:
for i in df_Gas.columns:
    u = df_Gas[i].unique()
    print(i, len(u), u)

VehId 357 [  2   5   7   8  12 108 110 115 116 119 120 123 124 125 126 128 129 130
 131 132 133 135 137 138 139 140 141 142 143 145 147 148 149 150 153 154
 155 156 157 159 160 161 162 163 164 165 167 169 172 174 176 179 180 181
 184 185 187 189 190 191 192 193 195 196 199 200 201 202 203 205 206 207
 208 209 211 212 213 214 215 216 217 218 220 222 223 225 228 230 231 232
 233 234 235 237 238 240 241 242 243 244 246 247 248 249 250 251 252 254
 255 257 258 259 260 262 264 265 266 267 268 269 270 271 272 273 274 275
 276 278 280 282 283 285 286 288 289 291 292 293 297 298 299 300 301 302
 303 304 306 307 308 309 311 312 313 315 318 319 321 323 324 325 326 328
 329 330 332 333 334 337 338 340 344 345 346 347 348 349 350 351 353 354
 355 356 357 359 360 366 367 368 369 370 372 374 375 376 378 380 381 382
 383 384 385 386 387 389 392 393 394 397 399 400 401 402 403 404 405 406
 407 409 410 411 413 414 415 416 418 422 426 428 429 430 432 433 434 435
 436 437 438 439 440 441 444 445 447 448 450 451 452 454 456 458 459 460
 461 462 463 464 465 466 467 468 469 470 472 473 474 475 476 477 478 480
 482 483 484 485 486 487 488 489 490 494 498 500 501 502 503 504 505 506
 507 516 517 519 521 522 526 527 528 529 530 531 532 533 534 535 538 539
 540 543 546 547 548 549 552 555 557 558 562 563 564 565 566 571 573 574
 575 576 577 578 579 580 581 584 587 588 591 592 595 596 597 598 599 600
 601 602 603 604 605 606 607 608 609 610 616 618 624 625 630]
Vehicle Type 2 ['ICE' 'HEV']
Vehicle Class 3 ['Car' 'SUV' 'NO DATA']
Engine Configuration & Displacement 72 ['4-FI 2.0L T/C' '4-GAS/ELECTRIC 2.0L' '6-FI 3.6L' '4-FI 1.5L' '4-FI 1.8L'
 '8-4V/FI 6.0L' '4-GAS/ELECTRIC 2.5L' '10-FI 6.8L' '8-DSL 6.7L T/C'
 '4-GAS/ELECTRIC 1.8L' '4-GAS/ELECTRIC 2.4L' '8-FI 4.7L' '6-FI 3.4L'
 '4-FI 2.4L' '8-FI 5.3L ' '6-FI 3.5L' '4-FI 2.5L' '4-FI 2.0L'
 '4-FI 2.0L PZEV' '8-FI 4.8L' '4-FI 2.2L' '4-FI 1.3L GAS/ELEC.'
 '5-FI 2.5L' '6-FI 3.7L' '4-FI 1.6L' '4-FI 2.3L T/C' '8-FI 5.4L'
 '6-FI 4.3L' '5-FI 2.5L PZEV' '4-GAS/ELECTRIC 1.5L' '6-FI 3.3L'
 '6-FI 3.8L' '4-GAS/ELECTRIC 2.3L' '6-EFI 4.2L ' '6-EFI 3.0L' '8-FI 4.6L'
 '8-EFI 5.0L' '4-FI T/C 1.4L' '6-FI 3.0L' '6-FI 2.7L' '6-FI 3.1L'
 '4-FI 1.6L T/C' '8-FI 5.3L' '6-FI 4.2L' '4-FI 2.3L' '4-FI 1.4L T/C'
 '4-FI 2.3L ULEV' '6-GAS/ELECTRIC 3.3L' '6-GAS/ELECTRIC 3.5L'
 '3-FI 1.0L GAS/ELEC.' '8-FI 5.7L HEMI (Hemi engine)' '4-FI T/C 2.0L'
 '8-FI 5.7L HEMI' '6-242-MFI 4.0L' '4-FI S/C 1.8L GAS' '4-FI 1.5L T/C'
 '4-GAS/ELECTRIC 1.6L' '2.3L Gasoline I4' 'I4 2.4L Flex Fuel' '2.4L'
 '3.0L 6cyl 4A' 'H-4 2.0 L/122' 'I4 2.2L' 'V6 4.0L' 'V6 3.1L' 'V8 4.7L'
 'V6 3.0L' 'V6 3.8L' 'V6 3.5L' 'H-4 2.5L' 'I-4 1.8L' 'I-4 2.4L']
Transmission 19 ['NO DATA' 'AUTOMATIC' '5-SP MANUAL' '6-SP AUTOMATIC' '5-SP AUTOMATIC'
 'CVT' 'AUTOMATIC/CVT' '6-SP ECT AUTOMATIC' '5-SP ECT AUTOMATIC'
 'FULL TIME 4WD AUTOMATIC' '4-SP AUTOMATIC' 'FULL TIME 4WD MANUAL'
 '5-SP AWD MANUAL' '6-SP AWD MANUAL' '9-SP Automatic' nan '4-SP Automatic'
 '5-SP Automatic' 'Automatic']
Drive Wheels 1 ['NO DATA']
Generalized_Weight 11 [3500 4500 2500 6000 'NO DATA' 6500 3000 4000 5500 5000 2000]

In [51]:
df_EV.columns

Index(['VehId', 'EngineType', 'Vehicle Class',
       'Engine Configuration & Displacement', 'Transmission', 'Drive Wheels',
       'Generalized_Weight'],
      dtype='object')

In [52]:
# rename the columns
df_EV.rename(columns={
    'EngineType': 'Vehicle Type',
}, inplace=True)

In [53]:
# Replace the values in the 'Generalized_Weight' column
df_Gas['Generalized_Weight'] = df_Gas['Generalized_Weight'].replace({
    'NO DATA': np.nan
})
df_Gas.info()

C:\Users\DELL\AppData\Local\Temp\ipykernel_9484\2446815317.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_Gas['Generalized_Weight'] = df_Gas['Generalized_Weight'].replace({

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   VehId                                357 non-null    int64
 1   Vehicle Type                         357 non-null    object
 2   Vehicle Class                        357 non-null    object
 3   Engine Configuration & Displacement  357 non-null    object
 4   Transmission                         354 non-null    object
 5   Drive Wheels                         357 non-null    object
 6   Generalized_Weight                   341 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 19.6+ KB

In [54]:
df_EV['Generalized_Weight'] = df_EV['Generalized_Weight'].astype(float)

In [55]:
# union the two dataframes

df_static = pd.concat([df_Gas, df_EV], ignore_index=True)
df_static.info()
df_static.describe()
df_static.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   VehId                                384 non-null    int64
 1   Vehicle Type                         384 non-null    object
 2   Vehicle Class                        384 non-null    object
 3   Engine Configuration & Displacement  384 non-null    object
 4   Transmission                         381 non-null    object
 5   Drive Wheels                         384 non-null    object
 6   Generalized_Weight                   368 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 21.1+ KB

,VehId,Vehicle Type,Vehicle Class,Engine Configuration & Displacement,Transmission,Drive Wheels,Generalized_Weight
0,2,ICE,Car,4-FI 2.0L T/C,NO DATA,NO DATA,3500.0
1,5,HEV,Car,4-GAS/ELECTRIC 2.0L,NO DATA,NO DATA,3500.0
2,7,ICE,SUV,6-FI 3.6L,AUTOMATIC,NO DATA,4500.0
3,8,ICE,Car,4-FI 1.5L,5-SP MANUAL,NO DATA,2500.0
4,12,ICE,Car,4-FI 1.8L,NO DATA,NO DATA,2500.0

In [56]:
df_static_grouped = df_static.groupby(['Vehicle Type']).agg({'Generalized_Weight': 'mean','VehId' : 'count'}).reset_index()
df_static_grouped.sort_values(by='VehId', ascending=False, inplace=True)
df_static_grouped.reset_index(drop=True, inplace=True)
df_static_grouped

  Vehicle Type  Generalized_Weight  VehId
0          ICE         3552.419355    264
1          HEV         3204.301075     93
2         PHEV         3854.166667     24
3           EV         3500.000000      3

In [57]:
for i in df_static.columns:
    u = df_static[i].unique()
    print(i, len(u),"\n",u,"\n")

VehId 384
 [  2   5   7   8  12 108 110 115 116 119 120 123 124 125 126 128 129 130
 131 132 133 135 137 138 139 140 141 142 143 145 147 148 149 150 153 154
 155 156 157 159 160 161 162 163 164 165 167 169 172 174 176 179 180 181
 184 185 187 189 190 191 192 193 195 196 199 200 201 202 203 205 206 207
 208 209 211 212 213 214 215 216 217 218 220 222 223 225 228 230 231 232
 233 234 235 237 238 240 241 242 243 244 246 247 248 249 250 251 252 254
 255 257 258 259 260 262 264 265 266 267 268 269 270 271 272 273 274 275
 276 278 280 282 283 285 286 288 289 291 292 293 297 298 299 300 301 302
 303 304 306 307 308 309 311 312 313 315 318 319 321 323 324 325 326 328
 329 330 332 333 334 337 338 340 344 345 346 347 348 349 350 351 353 354
 355 356 357 359 360 366 367 368 369 370 372 374 375 376 378 380 381 382
 383 384 385 386 387 389 392 393 394 397 399 400 401 402 403 404 405 406
 407 409 410 411 413 414 415 416 418 422 426 428 429 430 432 433 434 435
 436 437 438 439 440 441 444 445 447 448 450 451 452 454 456 458 459 460
 461 462 463 464 465 466 467 468 469 470 472 473 474 475 476 477 478 480
 482 483 484 485 486 487 488 489 490 494 498 500 501 502 503 504 505 506
 507 516 517 519 521 522 526 527 528 529 530 531 532 533 534 535 538 539
 540 543 546 547 548 549 552 555 557 558 562 563 564 565 566 571 573 574
 575 576 577 578 579 580 581 584 587 588 591 592 595 596 597 598 599 600
 601 602 603 604 605 606 607 608 609 610 616 618 624 625 630   9  10  11
 371 379 388 398 417 431 443 449 453 455 457 492 497 536 537 541 542 545
 550 554 560 561 567 569]

Vehicle Type 4
 ['ICE' 'HEV' 'PHEV' 'EV']

Vehicle Class 3
 ['Car' 'SUV' 'NO DATA']

Engine Configuration & Displacement 74
 ['4-FI 2.0L T/C' '4-GAS/ELECTRIC 2.0L' '6-FI 3.6L' '4-FI 1.5L' '4-FI 1.8L'
 '8-4V/FI 6.0L' '4-GAS/ELECTRIC 2.5L' '10-FI 6.8L' '8-DSL 6.7L T/C'
 '4-GAS/ELECTRIC 1.8L' '4-GAS/ELECTRIC 2.4L' '8-FI 4.7L' '6-FI 3.4L'
 '4-FI 2.4L' '8-FI 5.3L ' '6-FI 3.5L' '4-FI 2.5L' '4-FI 2.0L'
 '4-FI 2.0L PZEV' '8-FI 4.8L' '4-FI 2.2L' '4-FI 1.3L GAS/ELEC.'
 '5-FI 2.5L' '6-FI 3.7L' '4-FI 1.6L' '4-FI 2.3L T/C' '8-FI 5.4L'
 '6-FI 4.3L' '5-FI 2.5L PZEV' '4-GAS/ELECTRIC 1.5L' '6-FI 3.3L'
 '6-FI 3.8L' '4-GAS/ELECTRIC 2.3L' '6-EFI 4.2L ' '6-EFI 3.0L' '8-FI 4.6L'
 '8-EFI 5.0L' '4-FI T/C 1.4L' '6-FI 3.0L' '6-FI 2.7L' '6-FI 3.1L'
 '4-FI 1.6L T/C' '8-FI 5.3L' '6-FI 4.2L' '4-FI 2.3L' '4-FI 1.4L T/C'
 '4-FI 2.3L ULEV' '6-GAS/ELECTRIC 3.3L' '6-GAS/ELECTRIC 3.5L'
 '3-FI 1.0L GAS/ELEC.' '8-FI 5.7L HEMI (Hemi engine)' '4-FI T/C 2.0L'
 '8-FI 5.7L HEMI' '6-242-MFI 4.0L' '4-FI S/C 1.8L GAS' '4-FI 1.5L T/C'
 '4-GAS/ELECTRIC 1.6L' '2.3L Gasoline I4' 'I4 2.4L Flex Fuel' '2.4L'
 '3.0L 6cyl 4A' 'H-4 2.0 L/122' 'I4 2.2L' 'V6 4.0L' 'V6 3.1L' 'V8 4.7L'
 'V6 3.0L' 'V6 3.8L' 'V6 3.5L' 'H-4 2.5L' 'I-4 1.8L' 'I-4 2.4L'
 '4-GAS/ELECTRIC 1.4L' 'ELECTRIC']

Transmission 19
 ['NO DATA' 'AUTOMATIC' '5-SP MANUAL' '6-SP AUTOMATIC' '5-SP AUTOMATIC'
 'CVT' 'AUTOMATIC/CVT' '6-SP ECT AUTOMATIC' '5-SP ECT AUTOMATIC'
 'FULL TIME 4WD AUTOMATIC' '4-SP AUTOMATIC' 'FULL TIME 4WD MANUAL'
 '5-SP AWD MANUAL' '6-SP AWD MANUAL' '9-SP Automatic' nan '4-SP Automatic'
 '5-SP Automatic' 'Automatic']

Drive Wheels 2
 ['NO DATA' 'FWD']

Generalized_Weight 11
 [3500. 4500. 2500. 6000.   nan 6500. 3000. 4000. 5500. 5000. 2000.]

In [58]:
df_static.replace('NO DATA', np.nan, inplace=True)

In [59]:
df_static.to_excel("VED_Static_Data_ICE&HEV_PHEV&EV.xlsx", index=False)

In [ ]:
'''

# import csv data into df from the folder
import csv
import os
import pandas as pd
# Set the directory containing the CSV files

directory = ("G:\DIYguru\Data-Science-and-Engineering-Analytics\Assignments\other_source_files\VED_DynamicData_Part1")
directory2 = ("G:\DIYguru\Data-Science-and-Engineering-Analytics\Assignments\other_source_files\VED_DynamicData_Part2")
# Create an empty list to store the DataFrames
dataframes = []
# Loop through each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        # Append the DataFrame to the list
        dataframes.append(df)

for filename in os.listdir(directory2):
    if filename.endswith(".csv"):
        # Construct the full file path
        file_path = os.path.join(directory2, filename)
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        # Append the DataFrame to the list
        dataframes.append(df)



#Concatenate all DataFrames in the list into a single DataFrame
df_dynamic = pd.concat(dataframes, ignore_index=True)
'''

In [ ]:
#Concatenate all DataFrames in the list into a single DataFrame
# df_dynamic = pd.concat(dataframes, ignore_index=True)

In [ ]:
# df_dynamic.info()
# df_dynamic.head()

In [ ]:
import os
import random
import pandas as pd
from glob import glob

# Set your folders here
dir1 = r"G:\DIYguru\Data-Science-and-Engineering-Analytics\Assignments\other_source_files\VED_DynamicData_Part1"
dir2 = r"G:\DIYguru\Data-Science-and-Engineering-Analytics\Assignments\other_source_files\VED_DynamicData_Part2"

# Set sampling fraction or number of rows
sample_fraction = 0.05  # 5% sample
sample_rows = None      # Or set sample_rows = 1000 to get 1000 rows from each file

# Combine all CSV file paths
csv_files = glob(os.path.join(dir1, '*.csv')) + glob(os.path.join(dir2, '*.csv'))

# Function to sample a CSV file without loading all rows
def sample_csv(filepath, fraction=None, n_rows=None):
    with open(filepath) as f:
        # Count total number of lines
        total_lines = sum(1 for line in f) - 1  # excluding header

    if n_rows:
        skip = sorted(random.sample(range(1, total_lines + 1), total_lines - n_rows))
    elif fraction:
        keep_rows = int(total_lines * fraction)
        skip = sorted(random.sample(range(1, total_lines + 1), total_lines - keep_rows))
    else:
        raise ValueError("Provide either 'fraction' or 'n_rows'")

    return pd.read_csv(filepath, skiprows=skip, low_memory=False)

# Read and concatenate sampled data
sampled_dfs = []

for file in csv_files:
    try:
        df_sample = sample_csv(file, fraction=sample_fraction, n_rows=sample_rows)
        sampled_dfs.append(df_sample)
    except Exception as e:
        print(f"Skipping file {file} due to error: {e}")

# Final combined sampled DataFrame
df_dynamic = pd.concat(sampled_dfs, ignore_index=True)

print(f"Final sampled dataset shape: {df_dynamic.shape}")

Final sampled dataset shape: (1121815, 22)

In [63]:
df_static.head()

,VehId,Vehicle Type,Vehicle Class,Engine Configuration & Displacement,Transmission,Drive Wheels,Generalized_Weight
0,2,ICE,Car,4-FI 2.0L T/C,NaN,NaN,3500.0
1,5,HEV,Car,4-GAS/ELECTRIC 2.0L,NaN,NaN,3500.0
2,7,ICE,SUV,6-FI 3.6L,AUTOMATIC,NaN,4500.0
3,8,ICE,Car,4-FI 1.5L,5-SP MANUAL,NaN,2500.0
4,12,ICE,Car,4-FI 1.8L,NaN,NaN,2500.0

In [64]:
df_dynamic.head()

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,Air Conditioning Power[kW],Air Conditioning Power[Watts],Heater Power[Watts],HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%]
0,1.586651,8,706,12800,42.279013,-83.698901,63.0,18.549999,1925.0,49.019608,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.586651,8,706,31200,42.282192,-83.700041,64.0,9.100000,1927.0,32.156864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.586651,8,706,51300,42.284591,-83.701609,66.0,9.480000,2005.0,30.588236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.586651,8,706,65800,42.286977,-83.703102,65.0,7.320000,1987.0,31.764706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.586651,8,706,115500,42.294364,-83.704695,36.0,2.580000,1169.0,14.901961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
import pandas as pd
from datetime import datetime, timedelta

# Reference datetime for DayNum = 1
reference_date = datetime(2017, 11, 1)

# Convert DayNum to timestamp using vectorized timedelta
df_dynamic['DateTime'] = pd.to_timedelta(df_dynamic['DayNum'] - 1, unit='D') + reference_date

# Create separate columns for date and time
df_dynamic['Date'] = df_dynamic['DateTime'].dt.date

# Create a time column with proper formatting
df_dynamic['Time'] = df_dynamic['DateTime'].dt.time

In [66]:
# export the dataframes to excel
df_dynamic.to_csv("VED_Dynamic_Data_Part1&2_Sampled.csv", index=False)

In [67]:
df_static.info()
df_dynamic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   VehId                                384 non-null    int64
 1   Vehicle Type                         384 non-null    object
 2   Vehicle Class                        32 non-null     object
 3   Engine Configuration & Displacement  384 non-null    object
 4   Transmission                         95 non-null     object
 5   Drive Wheels                         27 non-null     object
 6   Generalized_Weight                   368 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 21.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121815 entries, 0 to 1121814
Data columns (total 25 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   DayNum                          1121815 non-null  float64
 1   VehId                           1121815 non-null  int64
 2   Trip                            1121815 non-null  int64
 3   Timestamp(ms)                   1121815 non-null  int64
 4   Latitude[deg]                   1121815 non-null  float64
 5   Longitude[deg]                  1121815 non-null  float64
 6   Vehicle Speed[km/h]             1121747 non-null  float64
 7   MAF[g/sec]                      913562 non-null   float64
 8   Engine RPM[RPM]                 1097709 non-null  float64
 9   Absolute Load[%]                823486 non-null   float64
 10  OAT[DegC]                       653929 non-null   float64
 11  Fuel Rate[L/hr]                 44827 non-null    float64
 12  Air Conditioning Power[kW]      44747 non-null    float64
 13  Air Conditioning Power[Watts]   142514 non-null   float64
 14  Heater Power[Watts]             43779 non-null    float64
 15  HV Battery Current[A]           187261 non-null   float64
 16  HV Battery SOC[%]               187261 non-null   float64
 17  HV Battery Voltage[V]           187261 non-null   float64
 18  Short Term Fuel Trim Bank 1[%]  883768 non-null   float64
 19  Short Term Fuel Trim Bank 2[%]  339154 non-null   float64
 20  Long Term Fuel Trim Bank 1[%]   758063 non-null   float64
 21  Long Term Fuel Trim Bank 2[%]   214796 non-null   float64
 22  DateTime                        1121815 non-null  datetime64[ns]
 23  Date                            1121815 non-null  object
 24  Time                            1121815 non-null  object
dtypes: datetime64[ns](1), float64(19), int64(3), object(2)
memory usage: 214.0+ MB

In [68]:
df_dynamic.head(100)

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],MAF[g/sec],Engine RPM[RPM],Absolute Load[%],...,HV Battery Current[A],HV Battery SOC[%],HV Battery Voltage[V],Short Term Fuel Trim Bank 1[%],Short Term Fuel Trim Bank 2[%],Long Term Fuel Trim Bank 1[%],Long Term Fuel Trim Bank 2[%],DateTime,Date,Time
0,1.586651,8,706,12800,42.279013,-83.698901,63.0,18.549999,1925.0,49.019608,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-01 14:04:46.663199616,2017-11-01,14:04:46.663199
1,1.586651,8,706,31200,42.282192,-83.700041,64.0,9.100000,1927.0,32.156864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-01 14:04:46.663199616,2017-11-01,14:04:46.663199
2,1.586651,8,706,51300,42.284591,-83.701609,66.0,9.480000,2005.0,30.588236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-01 14:04:46.663199616,2017-11-01,14:04:46.663199
3,1.586651,8,706,65800,42.286977,-83.703102,65.0,7.320000,1987.0,31.764706,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-01 14:04:46.663199616,2017-11-01,14:04:46.663199
4,1.586651,8,706,115500,42.294364,-83.704695,36.0,2.580000,1169.0,14.901961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-01 14:04:46.663199616,2017-11-01,14:04:46.663199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.062756,130,954,164800,42.293387,-83.705292,68.0,13.950000,1258.0,24.313726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-01 01:30:22.112800416,2017-11-01,01:30:22.112800
96,1.062756,130,954,179200,42.290879,-83.704688,76.0,8.320000,1301.0,32.549019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-01 01:30:22.112800416,2017-11-01,01:30:22.112800
97,1.062756,130,954,217500,42.284685,-83.702025,73.0,5.080000,1186.0,26.274509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-01 01:30:22.112800416,2017-11-01,01:30:22.112800
98,1.062756,130,954,242500,42.279977,-83.699492,73.0,3.620000,1352.0,34.901962,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-01 01:30:22.112800416,2017-11-01,01:30:22.112800
99,1.062756,130,954,255300,42.277930,-83.699118,22.0,3.620000,1122.0,13.725491,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-11-01 01:30:22.112800416,2017-11-01,01:30:22.112800

In [69]:
import pandas as pd

print(pd.to_datetime(df_dynamic['DateTime'].head()))
print(pd.to_datetime(df_dynamic['Time'].head(), format='%H:%M:%S.%f').dt.time)
print(pd.to_datetime(df_dynamic['Time'].head(), format='%H:%M:%S.%f').dt.hour)

0   2017-11-01 14:04:46.663199616
1   2017-11-01 14:04:46.663199616
2   2017-11-01 14:04:46.663199616
3   2017-11-01 14:04:46.663199616
4   2017-11-01 14:04:46.663199616
Name: DateTime, dtype: datetime64[ns]
0    14:04:46.663199
1    14:04:46.663199
2    14:04:46.663199
3    14:04:46.663199
4    14:04:46.663199
Name: Time, dtype: object
0    14
1    14
2    14
3    14
4    14
Name: Time, dtype: int32