# Static Data Load

In [1]:

import warnings
warnings.filterwarnings('ignore')

In [2]:
import os
print(os.getcwd())

g:\DIYguru\Data-Science-and-Engineering-Analytics\Projects\Main_Project_ML

In [3]:
'''
Created a function 'load_data_excel' to load excel into python
'''

import pandas as pd
import numpy as np
import os

def load_data_excel(file_path):
    """
    Load data from an Excel file and return a DataFrame.
    """
    if not os.path.exists(file_path):
        raise FileNotFoundError(f"The file {file_path} does not exist.")
    
    df = pd.read_excel(file_path)
    return df

In [4]:
'''
Loaded VED_Static_Data_ICE&HEV into dataframe df_ICE_HEV using the above function
Loaded VED_Static_Data_PHEV&EV into dataframe df_PHEV_EV using the above function
'''

df_ICE_HEV = load_data_excel("G:\\DIYguru\\Notes and Sample Data\\VED-master\\Data\\VED_Static_Data_ICE&HEV.xlsx")
df_PHEV_EV = load_data_excel("G:\\DIYguru\\Notes and Sample Data\\VED-master\\Data\\VED_Static_Data_PHEV&EV.xlsx")

In [3]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive

def authenticate_drive():
    """Authenticate and return a GoogleDrive instance."""
    gauth = GoogleAuth()
    gauth.LocalWebserverAuth()  # Opens browser for login
    return GoogleDrive(gauth)

In [4]:
import pandas as pd

def read_excel_from_drive(drive, file_id):
    """
    Reads an Excel file from Google Drive using its file_id.
    
    Args:
        drive: Authenticated GoogleDrive instance
        file_id: File ID of the Excel file in Google Drive
        
    Returns:
        DataFrame containing the Excel data
    """
    file = drive.CreateFile({'id': file_id})
    file.GetContentFile('temp_excel_file.xlsx')
    df = pd.read_excel('temp_excel_file.xlsx')
    return df

In [5]:
import os
from dotenv import load_dotenv
import boto3

# Load environment variables from .env
load_dotenv()

# Create boto3 client using loaded environment variables
s3 = boto3.client("s3",
    aws_access_key_id=os.getenv("AWS_ACCESS_KEY_ID"),
    aws_secret_access_key=os.getenv("AWS_SECRET_ACCESS_KEY"),
    region_name=os.getenv("AWS_DEFAULT_REGION")
)

# Example: list buckets
buckets = s3.list_buckets()
print("Your S3 Buckets:")
for bucket in buckets['Buckets']:
    print(f" - {bucket['Name']}")

Your S3 Buckets:
 - s3aravindh973515031797

In [7]:
import pandas as pd
from io import BytesIO

def read_excel_from_s3(bucket_name, object_key):
    """
    Reads an Excel file from an AWS S3 bucket using the global s3 client.

    Args:
        bucket_name: Name of the S3 bucket.
        object_key: Key (path) to the Excel file in the S3 bucket.

    Returns:
        DataFrame containing the Excel data.
    """
    response = s3.get_object(Bucket=bucket_name, Key=object_key)
    file_content = response['Body'].read()
    df = pd.read_excel(BytesIO(file_content))
    return df

In [ ]:
# Step 1: Authenticate
drive = authenticate_drive()

# Step 2: Provide File and Folder IDs
ICE_HEV = '1nIVzW4czIBAOczy9DExM3VEVyYGBXNJe'      # Replace with your Excel file ID
PHEV_EV = '1L-rPZ-OrASQDw4m-onNPZFSTNAkbEe8H'      # Replace with your Excel file ID

# Step 3: Read Excel
df_ICE_HEV = read_excel_from_drive(drive, ICE_HEV)
print("Excel File Contents:\n", df_ICE_HEV.head())

df_PHEV_EV = read_excel_from_drive(drive, PHEV_EV)
print("Excel File Contents:\n", df_PHEV_EV.head())

In [45]:
bucket_name = 's3aravindh973515031797'

response = s3.list_objects_v2(Bucket=bucket_name)
for item in response.get("Contents", []):
    print(item["Key"])

Cleaned up VED Source Data/
Cleaned up VED Source Data/df_ICE_HEV.parquet
Cleaned up VED Source Data/df_PHEV_EV.parquet
Cleaned up VED Source Data/df_VED.parquet
Cleaned up VED Source Data/df_dynamic_sample.parquet
Cleaned up VED Source Data/df_static.parquet
DIYguru ML Source Data/
DIYguru ML Source Data/VED_DynamicData_Part1/VED_171101_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_171108_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_171115_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_171122_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_171129_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_171206_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_171213_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_171220_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_171227_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_180103_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_180110_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_180117_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_180124_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_180131_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_180207_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_180214_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_180221_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_180228_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_180307_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_180314_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_180321_week.csv
DIYguru ML Source Data/VED_DynamicData_Part1/VED_180328_week.csv
DIYguru ML Source Data/VED_Static_Data_ICE&HEV.xlsx
DIYguru ML Source Data/VED_Static_Data_PHEV&EV.xlsx

In [10]:

ICE_HEV = 'DIYguru ML Source Data/VED_Static_Data_ICE&HEV.xlsx'
PHEV_EV = 'DIYguru ML Source Data/VED_Static_Data_PHEV&EV.xlsx'

df_ICE_HEV = read_excel_from_s3(bucket_name, ICE_HEV)
print("Excel File Contents:\n", df_ICE_HEV.head())

df_PHEV_EV = read_excel_from_s3(bucket_name, PHEV_EV)
print("Excel File Contents:\n", df_PHEV_EV.head())

Excel File Contents:
    VehId Vehicle Type Vehicle Class Engine Configuration & Displacement  \
0      2          ICE           Car                       4-FI 2.0L T/C
1      5          HEV           Car                 4-GAS/ELECTRIC 2.0L
2      7          ICE           SUV                           6-FI 3.6L
3      8          ICE           Car                           4-FI 1.5L
4     12          ICE           Car                           4-FI 1.8L

  Transmission Drive Wheels Generalized_Weight
0      NO DATA      NO DATA               3500
1      NO DATA      NO DATA               3500
2    AUTOMATIC      NO DATA               4500
3  5-SP MANUAL      NO DATA               2500
4      NO DATA      NO DATA               2500
Excel File Contents:
    VehId EngineType Vehicle Class Engine Configuration & Displacement  \
0      9       PHEV           Car                 4-GAS/ELECTRIC 1.4L
1     10         EV           Car                            ELECTRIC
2     11       PHEV           Car                 4-GAS/ELECTRIC 2.0L
3    371       PHEV           Car                 4-GAS/ELECTRIC 2.0L
4    379       PHEV           Car                 4-GAS/ELECTRIC 1.4L

  Transmission Drive Wheels  Generalized_Weight
0      NO DATA          FWD                4000
1      NO DATA          FWD                3500
2          CVT          FWD                4000
3          CVT          FWD                4000
4      NO DATA          FWD                4000

In [7]:
'''
Checked unique values in both the dataframe
'''

for i in df_ICE_HEV.columns:
    print(f"Unique values in column '{i}':")
    print(df_ICE_HEV[i].unique())

Unique values in column 'VehId':
[  2   5   7   8  12 108 110 115 116 119 120 123 124 125 126 128 129 130
 131 132 133 135 137 138 139 140 141 142 143 145 147 148 149 150 153 154
 155 156 157 159 160 161 162 163 164 165 167 169 172 174 176 179 180 181
 184 185 187 189 190 191 192 193 195 196 199 200 201 202 203 205 206 207
 208 209 211 212 213 214 215 216 217 218 220 222 223 225 228 230 231 232
 233 234 235 237 238 240 241 242 243 244 246 247 248 249 250 251 252 254
 255 257 258 259 260 262 264 265 266 267 268 269 270 271 272 273 274 275
 276 278 280 282 283 285 286 288 289 291 292 293 297 298 299 300 301 302
 303 304 306 307 308 309 311 312 313 315 318 319 321 323 324 325 326 328
 329 330 332 333 334 337 338 340 344 345 346 347 348 349 350 351 353 354
 355 356 357 359 360 366 367 368 369 370 372 374 375 376 378 380 381 382
 383 384 385 386 387 389 392 393 394 397 399 400 401 402 403 404 405 406
 407 409 410 411 413 414 415 416 418 422 426 428 429 430 432 433 434 435
 436 437 438 439 440 441 444 445 447 448 450 451 452 454 456 458 459 460
 461 462 463 464 465 466 467 468 469 470 472 473 474 475 476 477 478 480
 482 483 484 485 486 487 488 489 490 494 498 500 501 502 503 504 505 506
 507 516 517 519 521 522 526 527 528 529 530 531 532 533 534 535 538 539
 540 543 546 547 548 549 552 555 557 558 562 563 564 565 566 571 573 574
 575 576 577 578 579 580 581 584 587 588 591 592 595 596 597 598 599 600
 601 602 603 604 605 606 607 608 609 610 616 618 624 625 630]
Unique values in column 'Vehicle Type':
['ICE' 'HEV']
Unique values in column 'Vehicle Class':
['Car' 'SUV' 'NO DATA']
Unique values in column 'Engine Configuration & Displacement':
['4-FI 2.0L T/C' '4-GAS/ELECTRIC 2.0L' '6-FI 3.6L' '4-FI 1.5L' '4-FI 1.8L'
 '8-4V/FI 6.0L' '4-GAS/ELECTRIC 2.5L' '10-FI 6.8L' '8-DSL 6.7L T/C'
 '4-GAS/ELECTRIC 1.8L' '4-GAS/ELECTRIC 2.4L' '8-FI 4.7L' '6-FI 3.4L'
 '4-FI 2.4L' '8-FI 5.3L ' '6-FI 3.5L' '4-FI 2.5L' '4-FI 2.0L'
 '4-FI 2.0L PZEV' '8-FI 4.8L' '4-FI 2.2L' '4-FI 1.3L GAS/ELEC.'
 '5-FI 2.5L' '6-FI 3.7L' '4-FI 1.6L' '4-FI 2.3L T/C' '8-FI 5.4L'
 '6-FI 4.3L' '5-FI 2.5L PZEV' '4-GAS/ELECTRIC 1.5L' '6-FI 3.3L'
 '6-FI 3.8L' '4-GAS/ELECTRIC 2.3L' '6-EFI 4.2L ' '6-EFI 3.0L' '8-FI 4.6L'
 '8-EFI 5.0L' '4-FI T/C 1.4L' '6-FI 3.0L' '6-FI 2.7L' '6-FI 3.1L'
 '4-FI 1.6L T/C' '8-FI 5.3L' '6-FI 4.2L' '4-FI 2.3L' '4-FI 1.4L T/C'
 '4-FI 2.3L ULEV' '6-GAS/ELECTRIC 3.3L' '6-GAS/ELECTRIC 3.5L'
 '3-FI 1.0L GAS/ELEC.' '8-FI 5.7L HEMI (Hemi engine)' '4-FI T/C 2.0L'
 '8-FI 5.7L HEMI' '6-242-MFI 4.0L' '4-FI S/C 1.8L GAS' '4-FI 1.5L T/C'
 '4-GAS/ELECTRIC 1.6L' '2.3L Gasoline I4' 'I4 2.4L Flex Fuel' '2.4L'
 '3.0L 6cyl 4A' 'H-4 2.0 L/122' 'I4 2.2L' 'V6 4.0L' 'V6 3.1L' 'V8 4.7L'
 'V6 3.0L' 'V6 3.8L' 'V6 3.5L' 'H-4 2.5L' 'I-4 1.8L' 'I-4 2.4L']
Unique values in column 'Transmission':
['NO DATA' 'AUTOMATIC' '5-SP MANUAL' '6-SP AUTOMATIC' '5-SP AUTOMATIC'
 'CVT' 'AUTOMATIC/CVT' '6-SP ECT AUTOMATIC' '5-SP ECT AUTOMATIC'
 'FULL TIME 4WD AUTOMATIC' '4-SP AUTOMATIC' 'FULL TIME 4WD MANUAL'
 '5-SP AWD MANUAL' '6-SP AWD MANUAL' '9-SP Automatic' nan '4-SP Automatic'
 '5-SP Automatic' 'Automatic']
Unique values in column 'Drive Wheels':
['NO DATA']
Unique values in column 'Generalized_Weight':
[3500 4500 2500 6000 'NO DATA' 6500 3000 4000 5500 5000 2000]

In [8]:
for i in df_PHEV_EV.columns:
    print(f"Unique values in column '{i}':")
    print(df_PHEV_EV[i].unique())

Unique values in column 'VehId':
[  9  10  11 371 379 388 398 417 431 443 449 453 455 457 492 497 536 537
 541 542 545 550 554 560 561 567 569]
Unique values in column 'EngineType':
['PHEV' 'EV']
Unique values in column 'Vehicle Class':
['Car']
Unique values in column 'Engine Configuration & Displacement':
['4-GAS/ELECTRIC 1.4L' 'ELECTRIC' '4-GAS/ELECTRIC 2.0L'
 '4-GAS/ELECTRIC 1.8L' '4-GAS/ELECTRIC 1.5L']
Unique values in column 'Transmission':
['NO DATA' 'CVT']
Unique values in column 'Drive Wheels':
['FWD']
Unique values in column 'Generalized_Weight':
[4000 3500 3000]

In [9]:
import pandas as pd
import numpy as np
import os

'''
Replaced 'NO DATA' with nan
'''

df_ICE_HEV.replace('NO DATA', np.nan, inplace=True)
df_PHEV_EV.replace('NO DATA', np.nan, inplace=True)

In [10]:
'''
Handle data type changes and column renames to concatenate two dataframes
'''

df_ICE_HEV['Drive Wheels'] = df_ICE_HEV['Drive Wheels'].astype('object')
df_PHEV_EV.rename(columns={'EngineType': 'Vehicle Type'}, inplace=True)

In [11]:
'''
Created new df_static by concatenating df_ICE_HEV and df_PHEV_EV
'''

df_static = pd.concat([df_ICE_HEV, df_PHEV_EV], ignore_index=True)

In [12]:
'''
Checked duplicates
'''

duplicates = df_static.duplicated()
if duplicates.any():
    print("Duplicates found in the DataFrame:")
    print(df_static[duplicates])

In [18]:
def push_df_to_s3(df, object_key):
    """
    Pushes a pandas DataFrame to a predefined S3 bucket as a CSV file.

    Args:
        df (pd.DataFrame): DataFrame to upload.
        object_key (str): S3 object key (path/filename.csv).
    """
    from io import BytesIO
    csv_buffer = BytesIO()
    df.to_csv(csv_buffer, index=False)
    csv_buffer.seek(0)
    s3.upload_fileobj(csv_buffer, bucket_name, object_key)
    print(f"DataFrame uploaded to s3://{bucket_name}/{object_key}")

# Example usage:
# push_df_to_s3(df_static, 'path/to/df_static.csv')

In [19]:
push_df_to_s3(df_static, 'Cleaned up VED Source Data/df_static.csv')

DataFrame uploaded to s3://s3aravindh973515031797/Cleaned up VED Source Data/df_static.csv

In [13]:
def push_df_to_s3_parquet(df, object_key):
    """
    Pushes a pandas DataFrame to a predefined S3 bucket as a Parquet file.

    Args:
        df (pd.DataFrame): DataFrame to upload.
        object_key (str): S3 object key (path/filename.parquet).
    """
    from io import BytesIO
    parquet_buffer = BytesIO()
    df.to_parquet(parquet_buffer, index=False)
    parquet_buffer.seek(0)
    s3.upload_fileobj(parquet_buffer, bucket_name, object_key)
    print(f"DataFrame uploaded to s3://{bucket_name}/{object_key}")

# Example usage:
# push_df_to_s3_parquet(df_static, 'path/to/df_static.parquet')

In [15]:
push_df_to_s3_parquet(df_ICE_HEV, 'Cleaned up VED Source Data/df_ICE_HEV.parquet')
push_df_to_s3_parquet(df_PHEV_EV, 'Cleaned up VED Source Data/df_PHEV_EV.parquet')
push_df_to_s3_parquet(df_static, 'Cleaned up VED Source Data/df_static.parquet')

DataFrame uploaded to s3://s3aravindh973515031797/Cleaned up VED Source Data/df_ICE_HEV.parquet
DataFrame uploaded to s3://s3aravindh973515031797/Cleaned up VED Source Data/df_PHEV_EV.parquet
DataFrame uploaded to s3://s3aravindh973515031797/Cleaned up VED Source Data/df_static.parquet

In [16]:
df_static.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   VehId                                384 non-null    int64
 1   Vehicle Type                         384 non-null    object
 2   Vehicle Class                        32 non-null     object
 3   Engine Configuration & Displacement  384 non-null    object
 4   Transmission                         95 non-null     object
 5   Drive Wheels                         27 non-null     object
 6   Generalized_Weight                   368 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 21.1+ KB

In [17]:
'''
Checked unique and number of unique values in the new df_static
'''

for i in df_static.columns:
    print(f"\nUnique values in column '{i}':")
    print(f"Number of unique values: {df_static[i].nunique()}")
    print(df_static[i].unique())
    print(df_static[i].value_counts())

Unique values in column 'VehId':
Number of unique values: 384
[  2   5   7   8  12 108 110 115 116 119 120 123 124 125 126 128 129 130
 131 132 133 135 137 138 139 140 141 142 143 145 147 148 149 150 153 154
 155 156 157 159 160 161 162 163 164 165 167 169 172 174 176 179 180 181
 184 185 187 189 190 191 192 193 195 196 199 200 201 202 203 205 206 207
 208 209 211 212 213 214 215 216 217 218 220 222 223 225 228 230 231 232
 233 234 235 237 238 240 241 242 243 244 246 247 248 249 250 251 252 254
 255 257 258 259 260 262 264 265 266 267 268 269 270 271 272 273 274 275
 276 278 280 282 283 285 286 288 289 291 292 293 297 298 299 300 301 302
 303 304 306 307 308 309 311 312 313 315 318 319 321 323 324 325 326 328
 329 330 332 333 334 337 338 340 344 345 346 347 348 349 350 351 353 354
 355 356 357 359 360 366 367 368 369 370 372 374 375 376 378 380 381 382
 383 384 385 386 387 389 392 393 394 397 399 400 401 402 403 404 405 406
 407 409 410 411 413 414 415 416 418 422 426 428 429 430 432 433 434 435
 436 437 438 439 440 441 444 445 447 448 450 451 452 454 456 458 459 460
 461 462 463 464 465 466 467 468 469 470 472 473 474 475 476 477 478 480
 482 483 484 485 486 487 488 489 490 494 498 500 501 502 503 504 505 506
 507 516 517 519 521 522 526 527 528 529 530 531 532 533 534 535 538 539
 540 543 546 547 548 549 552 555 557 558 562 563 564 565 566 571 573 574
 575 576 577 578 579 580 581 584 587 588 591 592 595 596 597 598 599 600
 601 602 603 604 605 606 607 608 609 610 616 618 624 625 630   9  10  11
 371 379 388 398 417 431 443 449 453 455 457 492 497 536 537 541 542 545
 550 554 560 561 567 569]
VehId
449    1
443    1
431    1
417    1
398    1
      ..
12     1
8      1
7      1
5      1
2      1
Name: count, Length: 384, dtype: int64

Unique values in column 'Vehicle Type':
Number of unique values: 4
['ICE' 'HEV' 'PHEV' 'EV']
Vehicle Type
ICE     264
HEV      93
PHEV     24
EV        3
Name: count, dtype: int64

Unique values in column 'Vehicle Class':
Number of unique values: 2
['Car' 'SUV' nan]
Vehicle Class
Car    31
SUV     1
Name: count, dtype: int64

Unique values in column 'Engine Configuration & Displacement':
Number of unique values: 74
['4-FI 2.0L T/C' '4-GAS/ELECTRIC 2.0L' '6-FI 3.6L' '4-FI 1.5L' '4-FI 1.8L'
 '8-4V/FI 6.0L' '4-GAS/ELECTRIC 2.5L' '10-FI 6.8L' '8-DSL 6.7L T/C'
 '4-GAS/ELECTRIC 1.8L' '4-GAS/ELECTRIC 2.4L' '8-FI 4.7L' '6-FI 3.4L'
 '4-FI 2.4L' '8-FI 5.3L ' '6-FI 3.5L' '4-FI 2.5L' '4-FI 2.0L'
 '4-FI 2.0L PZEV' '8-FI 4.8L' '4-FI 2.2L' '4-FI 1.3L GAS/ELEC.'
 '5-FI 2.5L' '6-FI 3.7L' '4-FI 1.6L' '4-FI 2.3L T/C' '8-FI 5.4L'
 '6-FI 4.3L' '5-FI 2.5L PZEV' '4-GAS/ELECTRIC 1.5L' '6-FI 3.3L'
 '6-FI 3.8L' '4-GAS/ELECTRIC 2.3L' '6-EFI 4.2L ' '6-EFI 3.0L' '8-FI 4.6L'
 '8-EFI 5.0L' '4-FI T/C 1.4L' '6-FI 3.0L' '6-FI 2.7L' '6-FI 3.1L'
 '4-FI 1.6L T/C' '8-FI 5.3L' '6-FI 4.2L' '4-FI 2.3L' '4-FI 1.4L T/C'
 '4-FI 2.3L ULEV' '6-GAS/ELECTRIC 3.3L' '6-GAS/ELECTRIC 3.5L'
 '3-FI 1.0L GAS/ELEC.' '8-FI 5.7L HEMI (Hemi engine)' '4-FI T/C 2.0L'
 '8-FI 5.7L HEMI' '6-242-MFI 4.0L' '4-FI S/C 1.8L GAS' '4-FI 1.5L T/C'
 '4-GAS/ELECTRIC 1.6L' '2.3L Gasoline I4' 'I4 2.4L Flex Fuel' '2.4L'
 '3.0L 6cyl 4A' 'H-4 2.0 L/122' 'I4 2.2L' 'V6 4.0L' 'V6 3.1L' 'V8 4.7L'
 'V6 3.0L' 'V6 3.8L' 'V6 3.5L' 'H-4 2.5L' 'I-4 1.8L' 'I-4 2.4L'
 '4-GAS/ELECTRIC 1.4L' 'ELECTRIC']
Engine Configuration & Displacement
4-FI 2.4L              48
4-GAS/ELECTRIC 1.8L    33
4-GAS/ELECTRIC 1.5L    32
4-FI 2.5L              28
6-FI 3.5L              28
                       ..
V6 3.0L                 1
H-4 2.5L                1
V6 3.8L                 1
I-4 2.4L                1
I-4 1.8L                1
Name: count, Length: 74, dtype: int64

Unique values in column 'Transmission':
Number of unique values: 17
[nan 'AUTOMATIC' '5-SP MANUAL' '6-SP AUTOMATIC' '5-SP AUTOMATIC' 'CVT'
 'AUTOMATIC/CVT' '6-SP ECT AUTOMATIC' '5-SP ECT AUTOMATIC'
 'FULL TIME 4WD AUTOMATIC' '4-SP AUTOMATIC' 'FULL TIME 4WD MANUAL'
 '5-SP AWD MANUAL' '6-SP AWD MANUAL' '9-SP Automatic' '4-SP Automatic'
 '5-SP Automatic' 'Automatic']
Transmission
CVT                        27
5-SP AUTOMATIC             22
AUTOMATIC/CVT              12
AUTOMATIC                   5
4-SP AUTOMATIC              5
4-SP Automatic              5
5-SP MANUAL                 4
6-SP AUTOMATIC              3
5-SP Automatic              3
FULL TIME 4WD AUTOMATIC     2
6-SP ECT AUTOMATIC          1
5-SP ECT AUTOMATIC          1
FULL TIME 4WD MANUAL        1
6-SP AWD MANUAL             1
5-SP AWD MANUAL             1
9-SP Automatic              1
Automatic                   1
Name: count, dtype: int64

Unique values in column 'Drive Wheels':
Number of unique values: 1
[nan 'FWD']
Drive Wheels
FWD    27
Name: count, dtype: int64

Unique values in column 'Generalized_Weight':
Number of unique values: 10
[3500. 4500. 2500. 6000.   nan 6500. 3000. 4000. 5500. 5000. 2000.]
Generalized_Weight
3500.0    114
3000.0    107
4000.0     53
2500.0     42
4500.0     37
5000.0      6
5500.0      4
6000.0      3
6500.0      1
2000.0      1
Name: count, dtype: int64

In [18]:
df_static.describe(include='all')

,VehId,Vehicle Type,Vehicle Class,Engine Configuration & Displacement,Transmission,Drive Wheels,Generalized_Weight
count,384.000000,384,32,384,95,27,368.000000
unique,NaN,4,2,74,17,1,NaN
top,NaN,ICE,Car,4-FI 2.4L,CVT,FWD,NaN
freq,NaN,264,31,48,27,27,NaN
mean,360.867188,NaN,NaN,NaN,NaN,NaN,3483.695652
std,153.293829,NaN,NaN,NaN,NaN,NaN,697.215509
min,2.000000,NaN,NaN,NaN,NaN,NaN,2000.000000
25%,236.500000,NaN,NaN,NaN,NaN,NaN,3000.000000
50%,369.500000,NaN,NaN,NaN,NaN,NaN,3500.000000
75%,485.250000,NaN,NaN,NaN,NaN,NaN,4000.000000
max,630.000000,NaN,NaN,NaN,NaN,NaN,6500.000000

# Dynamic Data Load

In [19]:
'''
Loads all CSV files from a specified directory, randomly samples 50% of them, reads each sampled file into a DataFrame, and concatenates them into a single DataFrame.
'''

def load_csv_files_from_directory(directory):
    """
    Load all CSV files from a specified directory and return a concatenated DataFrame.
    """
    all_files = [f for f in os.listdir(directory) if f.endswith('.csv')]
    np.random.seed(42)
    sampled_files = np.random.choice(all_files, size=int(len(all_files) * 0.5), replace=False)
    df_list = []
    
    for file in sampled_files:
        file_path = os.path.join(directory, file)
        df = pd.read_csv(file_path)
        df_list.append(df)
    
    return pd.concat(df_list, ignore_index=True)

In [20]:
'''
Loaded VED_DynamicData_Part1 into dataframe df_part1 using the above function
Loaded VED_DynamicData_Part2 into dataframe df_part2 using the above function
'''

df_part1 = load_csv_files_from_directory("G:\\DIYguru\\Notes and Sample Data\\VED-master\\Data\\VED_DynamicData_Part1")
#df_part2 = load_csv_files_from_directory("G:\\DIYguru\\Notes and Sample Data\\VED-master\\Data\\VED_DynamicData_Part2")

In [24]:
import random
import pandas as pd
from io import StringIO

def read_and_concat_random_csvs_from_drive_folder(drive, folder_id, sample_frac=0.5):
    """
    Reads a random fraction of CSV files directly from a Google Drive folder 
    and concatenates them into a single DataFrame.
    
    Args:
        drive: Authenticated GoogleDrive instance
        folder_id: Folder ID in Google Drive
        sample_frac: Fraction of CSV files to read (default is 0.5)
        
    Returns:
        A single pandas DataFrame combining all sampled CSV files
    """
    file_list = drive.ListFile({'q': f"'{folder_id}' in parents and trashed=false"}).GetList()

    csv_files = [file for file in file_list if file['title'].endswith('.csv')]

    if not csv_files:
        return pd.DataFrame()  # Return empty DataFrame if no CSVs found

    sample_size = max(1, int(len(csv_files) * sample_frac))
    sampled_files = random.sample(csv_files, sample_size)

    dataframes = []
    for file in sampled_files:
        file_content = file.GetContentString()
        df = pd.read_csv(StringIO(file_content))
        df['source_file'] = file['title']  # Optional: add filename for tracking
        dataframes.append(df)

    combined_df = pd.concat(dataframes, ignore_index=True)
    return combined_df

In [24]:
import random
import pandas as pd
import boto3
from io import StringIO

def read_and_concat_random_csvs_from_s3(bucket_name, folder_key, sample_frac=0.5):
    """
    Reads a random fraction of CSV files directly from an AWS S3 bucket folder 
    and concatenates them into a single DataFrame.

    Args:
        bucket_name: Name of the S3 bucket
        folder_key: S3 folder key (prefix) where CSV files are stored
        sample_frac: Fraction of CSV files to read (default is 0.5)

    Returns:
        A single pandas DataFrame combining all sampled CSV files
    """
    # Assume s3 variable is a boto3 S3 client or resource, already authenticated
    # Example: s3 = boto3.client('s3') or s3 = boto3.resource('s3')
    # Here, we use s3 as a boto3 client
    global s3  # s3 should be defined elsewhere in the notebook/environment
    random.seed(42)

    # List all objects in the specified S3 folder
    response = s3.list_objects_v2(Bucket=bucket_name, Prefix=folder_key)
    if 'Contents' not in response:
        return pd.DataFrame()  # Return empty DataFrame if no files found

    # Filter for CSV files
    csv_files = [obj['Key'] for obj in response['Contents'] if obj['Key'].endswith('.csv')]

    if not csv_files:
        return pd.DataFrame()  # Return empty DataFrame if no CSVs found

    sample_size = max(1, int(len(csv_files) * sample_frac))
    sampled_files = random.sample(csv_files, sample_size)

    dataframes = []
    for key in sampled_files:
        obj = s3.get_object(Bucket=bucket_name, Key=key)
        file_content = obj['Body'].read().decode('utf-8')
        df = pd.read_csv(StringIO(file_content))
        df['source_file'] = key  # Optional: add filename for tracking
        dataframes.append(df)

    combined_df = pd.concat(dataframes, ignore_index=True)
    return combined_df

In [21]:
# Recursively list all folders and subfolders in the S3 bucket

def list_all_s3_folders(bucket_name, prefix=''):
    """
    Recursively lists all folders and subfolders in an S3 bucket.
    Returns a list of folder prefixes.
    """
    folders = []
    paginator = s3.get_paginator('list_objects_v2')
    for page in paginator.paginate(Bucket=bucket_name, Prefix=prefix, Delimiter='/'):
        if 'CommonPrefixes' in page:
            for cp in page['CommonPrefixes']:
                folder_prefix = cp['Prefix']
                folders.append(folder_prefix)
                # Recursively get subfolders
                folders.extend(list_all_s3_folders(bucket_name, prefix=folder_prefix))
    return folders

all_folders = list_all_s3_folders(bucket_name)
if all_folders:
    print("üìÅ All folders and subfolders:")
    for folder in all_folders:
        print(f" - {folder}")
else:
    print("No folders found.")

üìÅ All folders and subfolders:
 - Cleaned up VED Source Data/
 - DIYguru ML Source Data/
 - DIYguru ML Source Data/VED_DynamicData_Part1/

In [26]:
part1 = 'DIYguru ML Source Data/VED_DynamicData_Part1/' 

df_part1 = read_and_concat_random_csvs_from_s3(bucket_name, part1, sample_frac=0.5)

# Print each file name and first few rows
for filename, df in df_part1.items():
    print(f"\n--- {filename} ---\n", df.head())

--- DayNum ---
 0    141.496759
1    141.496759
2    141.496759
3    141.496759
4    141.496759
Name: DayNum, dtype: float64

--- VehId ---
 0    174
1    174
2    174
3    174
4    174
Name: VehId, dtype: int64

--- Trip ---
 0    1614
1    1614
2    1614
3    1614
4    1614
Name: Trip, dtype: int64

--- Timestamp(ms) ---
 0       0
1    1600
2    2100
3    3000
4    3800
Name: Timestamp(ms), dtype: int64

--- Latitude[deg] ---
 0    42.256730
1    42.256730
2    42.256730
3    42.257038
4    42.257038
Name: Latitude[deg], dtype: float64

--- Longitude[deg] ---
 0   -83.727205
1   -83.727205
2   -83.727205
3   -83.727454
4   -83.727454
Name: Longitude[deg], dtype: float64

--- Vehicle Speed[km/h] ---
 0    42.0
1    42.0
2    45.0
3    45.0
4    45.0
Name: Vehicle Speed[km/h], dtype: float64

--- MAF[g/sec] ---
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: MAF[g/sec], dtype: float64

--- Engine RPM[RPM] ---
 0    1320.0
1    2093.0
2    2093.0
3    2093.0
4    1721.0
Name: Engine RPM[RPM], dtype: float64

--- Absolute Load[%] ---
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Absolute Load[%], dtype: float64

--- OAT[DegC] ---
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: OAT[DegC], dtype: float64

--- Fuel Rate[L/hr] ---
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Fuel Rate[L/hr], dtype: float64

--- Air Conditioning Power[kW] ---
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Air Conditioning Power[kW], dtype: float64

--- Air Conditioning Power[Watts] ---
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Air Conditioning Power[Watts], dtype: float64

--- Heater Power[Watts] ---
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Heater Power[Watts], dtype: float64

--- HV Battery Current[A] ---
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: HV Battery Current[A], dtype: float64

--- HV Battery SOC[%] ---
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: HV Battery SOC[%], dtype: float64

--- HV Battery Voltage[V] ---
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: HV Battery Voltage[V], dtype: float64

--- Short Term Fuel Trim Bank 1[%] ---
 0    1.5625
1    1.5625
2    1.5625
3    1.5625
4    1.5625
Name: Short Term Fuel Trim Bank 1[%], dtype: float64

--- Short Term Fuel Trim Bank 2[%] ---
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Short Term Fuel Trim Bank 2[%], dtype: float64

--- Long Term Fuel Trim Bank 1[%] ---
 0   -1.5625
1   -1.5625
2   -1.5625
3   -1.5625
4   -1.5625
Name: Long Term Fuel Trim Bank 1[%], dtype: float64

--- Long Term Fuel Trim Bank 2[%] ---
 0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Long Term Fuel Trim Bank 2[%], dtype: float64

--- source_file ---
 0    DIYguru ML Source Data/VED_DynamicData_Part1/V...
1    DIYguru ML Source Data/VED_DynamicData_Part1/V...
2    DIYguru ML Source Data/VED_DynamicData_Part1/V...
3    DIYguru ML Source Data/VED_DynamicData_Part1/V...
4    DIYguru ML Source Data/VED_DynamicData_Part1/V...
Name: source_file, dtype: object

In [ ]:
part1 = '13K9WanXU7lOd-nWzztKoCF4kH7LC5789'         # Replace with your folder ID

# Step 4: Read Random Sample of CSVs
df_part1 = read_and_concat_random_csvs_from_drive_folder(drive, part1)

# Print each file name and first few rows
for filename, df in df_part1.items():
    print(f"\n--- {filename} ---\n", df.head())

In [22]:
df_part1.columns

Index(['DayNum', 'VehId', 'Trip', 'Timestamp(ms)', 'Latitude[deg]',
       'Longitude[deg]', 'Vehicle Speed[km/h]', 'MAF[g/sec]',
       'Engine RPM[RPM]', 'Absolute Load[%]', 'OAT[DegC]', 'Fuel Rate[L/hr]',
       'Air Conditioning Power[kW]', 'Air Conditioning Power[Watts]',
       'Heater Power[Watts]', 'HV Battery Current[A]', 'HV Battery SOC[%]',
       'HV Battery Voltage[V]', 'Short Term Fuel Trim Bank 1[%]',
       'Short Term Fuel Trim Bank 2[%]', 'Long Term Fuel Trim Bank 1[%]',
       'Long Term Fuel Trim Bank 2[%]'],
      dtype='object')

In [23]:
df_part1.info()
#df_part2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5131987 entries, 0 to 5131986
Data columns (total 22 columns):
 #   Column                          Dtype
---  ------                          -----
 0   DayNum                          float64
 1   VehId                           int64
 2   Trip                            int64
 3   Timestamp(ms)                   int64
 4   Latitude[deg]                   float64
 5   Longitude[deg]                  float64
 6   Vehicle Speed[km/h]             float64
 7   MAF[g/sec]                      float64
 8   Engine RPM[RPM]                 float64
 9   Absolute Load[%]                float64
 10  OAT[DegC]                       float64
 11  Fuel Rate[L/hr]                 float64
 12  Air Conditioning Power[kW]      float64
 13  Air Conditioning Power[Watts]   float64
 14  Heater Power[Watts]             float64
 15  HV Battery Current[A]           float64
 16  HV Battery SOC[%]               float64
 17  HV Battery Voltage[V]           float64
 18  Short Term Fuel Trim Bank 1[%]  float64
 19  Short Term Fuel Trim Bank 2[%]  float64
 20  Long Term Fuel Trim Bank 1[%]   float64
 21  Long Term Fuel Trim Bank 2[%]   float64
dtypes: float64(19), int64(3)
memory usage: 861.4 MB

In [24]:
'''
Checked unique values in both the dataframe
'''

for i in df_part1.columns:
    print(f"Unique values in column '{i}':")
    print(df_part1[i].unique())

Unique values in column 'DayNum':
[  1.58665119   1.93178629   1.71977381 ... 126.83646968 126.8464274
 126.04467598]
Unique values in column 'VehId':
[  8  10  11 124 125 130 133 147 154 155 156 160 165 174 176 184 189 195
 203 207 209 212 216 220 223 228 230 231 233 237 240 241 242 259 260 265
 267 272 278 298 299 301 304 319 323 334 340 344 350 351 353 355 356 370
 374 378 387 388 394 410 411 418 430 433 434 438 439 440 445 449 450 451
 452 456 460 462 468 477 478 488 497 502 507 516 519 521 528 532 535 537
 540 547 549 550 557 569 574 575 576 579 584 588 108 110 116 128 140 150
 157 180 181 185 192 215 225 244 246 248 249 250 257 258 276 291 307 315
 330 367 369 384 392 393 398 403 415 422 431 432 443 444 453 464 465 480
 486 494 500 530 531 533 543 546 555 560 564 587 595 601 163 196 205 213
 217 222 234 266 273 283 289 308 309 324 326 345 346 372 375 382 399 400
 402 426 441 482 483 538 554 565 592 596 597 606 608 126 132 218 232 243
 264 268 282 292 337 347 359 368 385 405 428 455 459 463 469 472 473 484
 489 498 506 529 548 561 566 581 115 153 179 200 269 293 312 338 371 407
 413 417 501 522  12 139 208 271 454 457 504 562 578 143 149 161 235 254
 311 383 404 536 563 571 202 252 288 349 366 406 409 436 458 474 475 490
 591 602 603 605   5 142 169 381 416 435 448 470 604 135 206 437 467 542
 607 609 123 274 333 598 167 214 286 313 466 120 429 503 159 201 539 534
 303 447 600 251   2 162 476 164 487 526 610 137 191 285 329 386 129 414
 492 577 211 148 270 275 348 376 461 599 255 380 325 328 397 527 360 567
 618 580 545 616 172 247 558 297 357 379 306 541   9]
Unique values in column 'Trip':
[ 706  707 1558 ... 2257 1502 1901]
Unique values in column 'Timestamp(ms)':
[      0     200    1100 ... 8377200 3016500 3027200]
Unique values in column 'Latitude[deg]':
[42.27755833 42.27825528 42.2790125  ... 42.26687    42.26242389
 42.259955  ]
Unique values in column 'Longitude[deg]':
[-83.69874972 -83.69880306 -83.69890111 ... -83.71665333 -83.71606639
 -83.7147225 ]
Unique values in column 'Vehicle Speed[km/h]':
[ 40.        45.        47.       ... 120.15625  115.28125   85.984375]
Unique values in column 'MAF[g/sec]':
[22.12999916  6.1500001  21.44000053 ... 72.54000092 73.88999939
 74.79000092]
Unique values in column 'Engine RPM[RPM]':
[2285. 2744. 1982. ... 5357. 4427. 4429.]
Unique values in column 'Absolute Load[%]':
[4.90196075e+01 6.74509811e+01 7.80392151e+01 4.43137245e+01
 5.09803925e+01 3.56862755e+01 3.21568642e+01 2.74509811e+01
 2.23529415e+01 3.05882359e+01 3.33333321e+01 1.41176472e+01
 3.17647057e+01 1.88235302e+01 2.35294113e+01 3.13725491e+01
 3.41176491e+01 3.72549019e+01 1.49019613e+01 1.84313736e+01
 2.00000000e+01 5.68627472e+01 5.17647057e+01 7.05882339e+01
 4.86274529e+01 1.56862745e+01 7.29411774e+01 8.11764755e+01
 4.07843132e+01 2.27450981e+01 2.31372547e+01 2.39215698e+01
 2.19607849e+01 2.03921566e+01 2.11764717e+01 3.80392151e+01
 5.52941170e+01 3.29411774e+01 4.27450981e+01 3.64705887e+01
 5.92156868e+01 7.45098038e+01 5.21568642e+01 4.74509811e+01
 1.45098038e+01 1.68627453e+01 4.70588226e+01 2.15686283e+01
 3.45098038e+01 6.54901962e+01 6.39215698e+01 7.72549057e+01
 7.68627472e+01            nan 5.13725510e+01 0.00000000e+00
 5.84313736e+01 6.19607849e+01 5.33333359e+01 5.56862755e+01
 5.49019623e+01 5.64705887e+01 1.25490198e+01 3.37254906e+01
 1.52941179e+01 5.76470604e+01 1.01960783e+01 4.78431396e+01
 6.11764717e+01 4.35294113e+01 6.00000000e+01 6.35294113e+01
 5.01960793e+01 4.62745094e+01 4.66666679e+01 9.01960754e+00
 4.31372547e+00 1.37254906e+01 1.05882359e+01 9.80392170e+00
 4.58823547e+01 5.96078453e+01 5.29411774e+01 4.39215698e+01
 1.60784321e+01 6.27450981e+01 5.41176491e+01 5.25490189e+01
 1.17647057e+01 1.21568632e+01 4.47058830e+01 4.31372566e+01
 4.70588255e+00 4.15686264e+01 1.13725491e+01 4.82352943e+01
 1.09803925e+01 4.00000000e+01 3.25490189e+01 1.92156868e+01
 2.54901962e+01 5.09803915e+00 2.86274509e+01 6.78431396e+01
 6.50980377e+01 6.07843132e+01 3.68627472e+01 3.01960793e+01
 1.96078434e+01 2.78431377e+01 1.76470585e+01 2.07843132e+01
 1.33333340e+01 2.43137264e+01 2.62745094e+01 5.80392151e+01
 3.49019623e+01 5.60784340e+01 3.92156868e+01 8.23529434e+00
 3.09803925e+01 9.41176510e+00 2.82352943e+01 4.11764717e+01
 2.66666679e+01 2.47058830e+01 2.50980396e+01 6.47058868e+01
 1.72549019e+01 5.72549019e+01 4.94117661e+01 2.58823528e+01
 4.23529434e+01 1.64705887e+01 6.43137283e+01 2.90196075e+01
 1.80392151e+01 5.37254906e+01 6.23529434e+01 6.98039246e+01
 7.17647095e+01 3.96078453e+01 6.58823547e+01 7.76470566e+01
 3.52941170e+01 6.90196075e+01 7.92156906e+01 3.60784302e+01
 4.03921585e+01 2.98039227e+01 1.29411764e+01 3.76470604e+01
 8.70588226e+01 2.94117661e+01 7.09803925e+01 6.03921585e+01
 2.70588245e+01 3.88235283e+01 4.54901962e+01 4.98039207e+01
 6.82352982e+01 7.52941208e+01 8.54901962e+01 5.88235321e+01
 8.35294113e+01 7.64705887e+01 4.50980415e+01 6.70588226e+01
 7.37254944e+01 7.21568604e+01 6.86274490e+01 7.84313736e+01
 8.00000000e+01 5.45098038e+01 6.62745132e+01 8.58823547e+01
 7.13725510e+01 8.62745094e+00 6.66666641e+01 4.19607849e+01
 3.84313736e+01 5.05882378e+01 6.15686302e+01 7.41176453e+01
 6.94117661e+01 7.60784302e+01 6.31372566e+01 5.88235283e+00
 1.01176476e+02 8.78431396e+01 1.28627457e+02 1.31764709e+02
 8.15686264e+01 9.09803925e+01 1.05882355e+02 3.92156863e+00
 7.84313726e+00 5.49019623e+00 7.33333359e+01 7.01960831e+01
 8.50980377e+01 6.27450991e+00 6.66666698e+00 1.35294113e+02
 7.88235321e+01 8.39215698e+01 8.43137283e+01 7.96078415e+01
 8.86274490e+01 9.17647095e+01 8.27451019e+01 8.62745132e+01
 1.09803925e+02 1.06274513e+02 1.00000000e+02 1.21568626e+02
 8.98039246e+01 9.25490189e+01 1.09411766e+02 8.82352982e+01
 7.49019623e+01 9.88235321e+01 7.56862793e+01 7.25490189e+01
 9.52941208e+01 1.07058823e+02 1.11764709e+02 8.90196075e+01
 9.33333359e+01 9.76470642e+01 2.35294127e+00 8.23529434e+01
 7.45098066e+00 9.68627472e+01 8.19607849e+01 9.84313736e+01
 7.05882359e+00 3.13725495e+00 1.04705887e+02 1.27843140e+02
 9.01960831e+01 1.00392159e+02 1.78431381e+02 1.27058823e+02
 9.60784302e+01 9.13725510e+01 1.01960785e+02 1.23921570e+02
 9.72549057e+01 8.47058868e+01 1.14117645e+02 1.08235298e+02
 1.01568626e+02 8.07843170e+01 8.03921585e+01 1.24313728e+02
 8.94117661e+01 8.66666718e+01 1.06666672e+02 9.21568680e+01
 1.21176476e+02 1.25882355e+02 9.29411774e+01 9.05882339e+01
 3.52941179e+00 9.37254944e+01 8.74509811e+01 9.64705887e+01
 1.02352943e+02 8.31372528e+01 1.00784317e+02 1.29019608e+02
 1.03529411e+02 1.16078430e+02 1.12941177e+02 1.54901962e+02
 1.17647064e+02 9.45098038e+01 1.34901962e+02 1.35686279e+02
 1.18823532e+02 1.39607849e+02 1.40784317e+02 1.45098038e+02
 1.20000000e+02 9.56862793e+01 9.92156906e+01 1.15294121e+02
 9.41176453e+01 9.96078415e+01 1.25490196e+02 1.09019608e+02
 1.19215691e+02 1.41176468e+02 9.49019623e+01 2.74509811e+00
 1.22745102e+02 1.03137253e+02 1.36078430e+02 1.23137260e+02
 1.31372559e+02 1.12549019e+02 1.93333344e+02 1.14509804e+02
 1.05098038e+02 1.45490204e+02 1.25098038e+02 1.30196075e+02
 1.62352951e+02 1.07843140e+02 1.36862747e+02 1.19607841e+02
 1.26666672e+02 1.11372551e+02 1.56862747e+02 5.43921570e+02
 1.94117645e+02 9.80392151e+01 1.03921570e+02 1.02745102e+02
 1.33333328e+02 1.22352943e+02 1.66274506e+02 1.16470589e+02
 1.34117645e+02 1.43529419e+02 1.17254906e+02 1.38823532e+02
 1.04313728e+02 1.96078432e+00 1.28576475e+04 1.72156860e+02
 1.08627449e+02 1.28235291e+02 1.10588234e+02 1.17647064e+00
 1.15686279e+02 1.05490196e+02 1.07450981e+02 1.13725494e+02
 1.10980392e+02 1.10196083e+02 2.41568634e+02 1.34509811e+02
 1.32941177e+02 1.31431377e+04 1.44705887e+02 1.58823532e+02
 1.12156868e+02 1.27450981e+02 1.36470596e+02 1.42352951e+02
 1.26274513e+02 1.24705887e+02 1.16862747e+02 1.14901962e+02
 1.39215683e+02 1.41568634e+02 1.32156860e+02 1.55686279e+02
 1.58039215e+02 1.30588242e+02 2.30588242e+02 1.73435293e+04
 1.86274506e+02 1.52549026e+02 1.18431374e+02 1.75686279e+02
 1.65639219e+04 1.84313736e+02 1.74117645e+02 1.63529419e+02
 1.59215683e+02 1.48627457e+02 1.57647064e+02 1.20392159e+02
 1.52156860e+02 1.74509811e+02 1.41960785e+02 1.29803925e+02
 1.33725494e+02 1.44313721e+02 1.49019608e+02 1.60392166e+02
 1.18039215e+02 1.20784317e+02 1.46274506e+02 1.23529411e+02
 1.69803925e+02 1.56862748e+00 2.06274506e+02 1.85882355e+02
 1.65098038e+02 1.30980392e+02 1.36141182e+04 1.40000000e+02
 1.70980392e+02 1.60345098e+04 1.13333336e+02 1.80784317e+02
 1.38431381e+02 1.70588242e+02 1.74901962e+02 1.65882355e+02
 2.16470596e+02 1.61176468e+02 1.54509811e+02 1.40392166e+02
 1.50196075e+02 1.21960785e+02 1.51372559e+02 1.46666672e+02
 1.38039215e+02 1.47843140e+02 1.49803925e+02 1.45882355e+02
 1.32549026e+02 1.52941177e+02 2.03529419e+02 1.59607849e+02
 1.43137253e+02 1.48235291e+02 1.73333344e+02 1.90196075e+02]
Unique values in column 'OAT[DegC]':
[   nan   5.     6.25   5.25   5.75   3.75   4.     4.25   4.5    3.5
   3.25   4.75   5.5   17.    18.    19.     8.     7.5    7.     6.5
   2.25   2.75   3.     8.75   6.75   7.75   9.     8.25   8.5    9.25
  10.5   10.75   9.5    9.75   7.25   6.     1.5    2.5    1.75   2.
  10.    14.    14.5   14.75  11.5   16.    20.    22.    23.    24.
  25.    26.    27.    28.    29.    30.    15.    12.5   12.25  11.75
  12.75  13.    10.25  11.25  11.    15.5   13.75  13.5   15.25  16.5
  12.    -5.5   -5.    -6.    -7.    -1.     0.   -10.    -3.    -4.
  -2.     1.    -3.5   -2.5   -3.25  -3.75  -4.75  -5.25  -4.5   -5.75
  -6.25  -6.5   -6.75  -0.75  -1.75  -1.5   -2.25  -1.25  -2.75  -8.
   0.5   -0.5   -7.5   -4.25  -9.   -11.    -8.25  -8.5   -9.75  -9.25
 -12.   -13.    -7.75  -7.25 -10.25 -10.5    0.25   1.25   0.75  21.
  -9.5  -11.75 -10.75 -14.   -17.   -16.   -12.5  -12.75 -12.25 -13.5
  -0.25 -11.5  -18.   -11.25 -17.5  -17.75 -17.25 -18.5  -15.   -14.25
 -13.75 -14.5  -16.5  -15.5  -15.75 -14.75 -15.25 -16.25 -16.75 -13.25
 -19.   -19.5  -21.25 -24.5  -20.25 -20.   -19.75 -21.5   -8.75 -20.5
 -21.    33.   -40.   -39.    17.5   18.25  18.5   18.75  15.75  16.25
  16.75  14.25  17.75 -38.   -37.   -36.    34.  ]
Unique values in column 'Fuel Rate[L/hr]':
[       nan 0.         6.69228172 ... 4.62211037 3.82075405 1.49300373]
Unique values in column 'Air Conditioning Power[kW]':
[       nan 5.79999971 5.92000008 5.71999979 5.75999975 5.83999968
 5.67999983 0.59999996 0.         0.16       0.19999999 0.31999999
 0.08       0.47999999 0.28       0.51999998 5.5999999  5.55999994
 5.63999987 0.23999999 0.56       6.07999992 6.19999981 6.15999985
 0.04       0.39999998 0.35999998 0.44       6.23999977 6.31999969
 6.03999996 6.27999973 6.35999966 6.11999989 6.         5.96000004
 5.87999964 5.51999998 5.35999966 5.44000006 5.4000001  5.27999973
 5.31999969 0.12       4.75999975 4.19999981 4.83999968 5.19999981]
Unique values in column 'Air Conditioning Power[Watts]':
[  nan    0.  100. 1000. 1350.  240.  200.  280.  560.  640.  400.  360.
  440.  480.  120.  150.  550.  800.  750.  700.  650.  250.  300.  350.
  850.  900.  950.  160.  320.  450. 1050.  500.  600. 1200. 1100. 1150.
 1400.   50. 1800.   80. 1300. 1950. 1900. 1850. 1250. 2500. 2050. 2350.
 1700. 1750.  520.   40. 1500.]
Unique values in column 'Heater Power[Watts]':
[  nan 2250. 2000. 1750. 1500. 1250. 1000.  750.  500.  250.    0. 4000.
 3500. 3750. 3000. 3250. 2750. 2500.]
Unique values in column 'HV Battery Current[A]':
[          nan  -21.5          23.5        ... -165.30000305 -155.55000305
 -174.30000305]
Unique values in column 'HV Battery SOC[%]':
[        nan 96.34146881 95.97561646 ... 63.2911377  56.68354034
 44.93670654]
Unique values in column 'HV Battery Voltage[V]':
[         nan 386.         390.5        384.5        387.
 382.5        389.5        387.5        378.5        383.5
 389.         388.5        381.5        291.5        300.
 294.5        292.5        287.5        296.5        293.
 296.         289.         301.5        295.         295.5
 284.         293.5        297.         279.         290.
 292.         304.         294.         298.5        297.5
 291.         307.5        285.         300.5        288.
 309.5        299.         299.5        301.         302.
 274.         306.         302.5        309.         298.
 308.         287.         286.         286.5        290.5
 282.5        283.         303.5        288.5        345.
 348.         346.         347.         343.         352.
 359.         350.         351.         353.         356.
 338.         349.         360.         339.         341.
 337.         342.         344.         330.         332.
 333.         340.         329.         331.         326.
 334.         336.         357.         335.         358.
 359.5        361.25       361.75       357.375      360.5
 368.125      362.25       356.375      358.875      359.25
 371.875      356.875      354.75       361.375      361.625
 352.25       354.625      366.125      352.375      357.875
 357.5        358.25       360.75       361.         371.25
 362.         361.5        357.625      367.5        360.375
 357.75       360.25       361.125      359.875      365.25
 361.875      354.125      355.875      365.75       360.875
 360.625      352.75       354.         354.5        363.75
 359.625      357.125      355.125      359.375      358.75
 358.5        362.625      358.125      355.25       362.875
 354.375      355.         357.25       352.875      354.875
 359.125      350.25       358.625      358.375      356.25
 355.75       356.75       356.125      355.5        356.625
 355.625      356.5        352.125      353.875      362.75
 353.75       351.5        352.625      351.375      349.5
 363.375      348.5        338.75       339.625      332.5
 341.75       344.625      347.75       328.375      348.125
 345.25       348.75       338.375      338.25       347.125
 339.375      346.75       366.375      369.25       374.75
 375.125      370.5        370.625      367.         359.75
 362.5        365.875      366.875      367.375      368.375
 363.         364.25       369.         378.375      366.625
 367.25       367.625      368.         367.875      368.625
 365.         353.25       364.625      366.5        367.125
 354.25       353.625      347.375      362.125      362.375
 349.375      364.5        353.125      351.75       350.875
 380.         371.5        382.         379.5        377.5
 376.5        375.5        371.         374.5        379.
 373.5        374.         373.         385.         378.
 381.         375.         377.         384.         380.5
 383.         331.5        322.5        326.5        316.
 324.5        320.         324.         327.5        328.5
 325.         322.         323.5        321.5        325.5
 316.5        318.5        314.5        315.5        310.
 318.         321.         323.         313.         319.5
 334.5        310.5        307.         317.5        311.
 305.5        319.         315.         313.5        314.
 312.         308.5        305.         311.5        304.5
 317.         200.         195.         198.5        201.5
 199.5        207.         208.5        209.5        215.
 198.         197.         209.         213.5        208.
 196.5        205.5        201.         200.5        199.
 206.5        207.5        217.5        195.5        206.
 218.5        193.5        191.5        289.5        284.5
 303.         285.5        306.5        312.5        283.5
 278.         280.5        383.625      385.375      388.375
 392.375      386.75       384.25       372.         368.75
 373.625      377.125      381.875      395.375      376.125
 377.75       376.875      378.625      382.25       385.75
 372.125      380.875      384.75       388.         388.75
 383.875      379.125      192.         202.         216.5
 194.5        190.         194.         197.5        193.
 188.         196.         202.5        210.5        203.5
 211.         187.         212.         186.         190.5
 191.         204.5        192.5        210.         204.
 188.5        189.5        181.         184.         205.
 186.5        214.5        203.         211.5        212.5
 189.         338.5        337.5        333.5        336.5
 330.5        327.         335.5        342.5        341.5
 345.5        329.5        328.         183.         215.5
 213.         216.         217.         339.5        320.5
 371.375      380.25       369.75       363.5        364.125
 370.125      366.25       371.625      371.125      364.75
 370.375      370.25       370.875      366.         363.125
 363.625      363.25       360.125      185.         184.5
 183.5        376.         370.         385.5        372.5
 368.5        369.5        365.5        364.         282.
 281.5        281.         278.5        277.         270.5
 276.5        274.5        385.875      393.75       386.125
 380.75       381.25       382.375      385.25       386.625
 386.875      387.625      382.75       381.75       384.875
 383.375      386.25       388.25       385.125      390.125
 387.875      386.375      386.5        384.375      379.25
 383.125      382.125      381.625      376.375      379.875
 380.125      379.375      380.625      379.75       380.375
 379.625      374.875      373.75       374.625      377.375
 375.25       372.25       369.625      367.75       370.75
 387.375      376.625      378.125      368.875      374.25
 279.5        280.         340.5        273.         352.5
 353.5        350.75       351.25       349.875      355.375
 350.125      349.625      349.125      349.75       350.5
 344.5        346.875      348.25       347.875      348.875
 351.125      345.125      346.625      348.375      344.125
 345.375      345.625      346.125      345.875      349.25
 351.625      393.         392.5        391.         391.5
 390.         392.         393.5        394.         347.5
 362.95999146 350.47998047 351.51998901 360.87997437 360.35998535
 357.23999023 356.72000122 372.83999634 369.19998169 371.79998779
 370.75997925 367.11999512 362.43997192 366.07998657 366.59997559
 365.55999756 365.03997803 364.51998901 361.91998291 355.15997314
 353.07998657 354.63998413 349.44000244 354.11999512 357.75997925
 368.67999268 352.55999756 363.47998047 358.79998779 355.67999268
 356.19998169 369.72000122 359.83999634 385.625      382.875
 375.625      381.375      389.625      388.125      374.375
 382.625      390.375      394.625      377.625      214.
 375.875      374.125      363.875      344.375      353.375
 350.375      343.625      369.125      368.25       369.875
 372.875      372.375      365.375      366.75       369.375
 373.25       365.125      364.875      361.3999939  358.27999878
 347.35998535 349.95999146 347.87997437 353.59997559 341.63998413
 352.03997803 344.75997925 346.83999634 348.91998291 348.3999939
 345.79998779 340.07998657 335.91998291 339.03997803 343.19998169
 342.15997314 341.11999512 339.55999756 345.27999878 344.23999023
 343.72000122 342.67999268 346.31997681 337.47998047 336.44000244
 333.83999634 334.87997437 340.59997559 359.31997681 379.59997559
 376.47998047 374.3999939  373.87997437 375.43997192 380.11999512
 371.27999878 379.07998657 377.51998901 375.95999146 374.91998291
 370.23999023 368.15997314 373.35998535 378.03997803 372.31997681
 367.63998413 341.625      343.25       322.375      337.375
 340.125      340.25       340.375      337.875      330.375
 335.625      337.75       395.         389.125      388.875
 393.125      393.25       387.25       393.625      383.75
 388.625      387.75       378.25       378.875      376.25
 378.75       376.75       377.875      348.625      344.875
 346.5        383.25       351.875      347.625      342.375
 342.125      350.625      343.75       339.25       339.875
 337.625      364.375      373.125      273.5        220.5
 187.5        332.25       341.125      300.125      334.125
 299.375      342.625      342.25       341.875      341.25

In [ ]:
'''
for i in df_part2.columns:
    print(f"Unique values in column '{i}':")
    print(df_part2[i].unique())

'''

In [ ]:
'''
Created new df_dynamic by concatenating df_part1 and df_part2
'''

#df_dynamic = pd.concat([df_part1, df_part2], ignore_index=True)

In [19]:
#df_dynamic.info()

In [ ]:
'''
Checked unique and number of unique values in the new df_dynamic


for i in df_dynamic.columns:
    print(f"\nUnique values in column '{i}':")
    print(f"Number of unique values: {df_dynamic[i].nunique()}")
    print(df_dynamic[i].unique())
    print(df_dynamic[i].value_counts())

'''

In [21]:
#df_dynamic.head()

In [ ]:
'''
Checked duplicates

duplicates = df_dynamic.duplicated()
if duplicates.any():
    print("Duplicates found in the DataFrame:")
    print(df_dynamic[duplicates])
'''

In [25]:
'''
Checked duplicates
'''

duplicates = df_part1.duplicated()
if duplicates.any():
    print("Duplicates found in the DataFrame:")
    print(df_part1[duplicates])

In [26]:
df_static.columns

Index(['VehId', 'Vehicle Type', 'Vehicle Class',
       'Engine Configuration & Displacement', 'Transmission', 'Drive Wheels',
       'Generalized_Weight'],
      dtype='object')

In [25]:
#df_dynamic.columns

# Join Static and Dynamic dataframes

In [27]:
'''
Dynamic has 22436808 records and so was not able to join because of RAM size
'''

#print(df_dynamic['VehId'].nunique(), len(df_dynamic))
print(df_static['VehId'].nunique(), len(df_static))

384 384

In [28]:
'''
Even the sample of 50% df_dynamic didnt work, so pulled 50% sample from df_part1 instead of df_dynamic which has 5118478 records
It is handled in the load_csv_files_from_directory function.
'''

df_dynamic_sample = df_part1

In [29]:
len(df_dynamic_sample)

5131987

In [35]:
push_df_to_s3(df_dynamic_sample, 'Cleaned up VED Source Data/df_dynamic_sample.csv')

DataFrame uploaded to s3://s3aravindh973515031797/Cleaned up VED Source Data/df_dynamic_sample.csv

In [30]:
push_df_to_s3_parquet(df_dynamic_sample, 'Cleaned up VED Source Data/df_dynamic_sample.parquet')

DataFrame uploaded to s3://s3aravindh973515031797/Cleaned up VED Source Data/df_dynamic_sample.parquet

In [31]:
'''
Joined dataframe df with 5118478 entries is created.
'''

df = df_dynamic_sample.merge(df_static, on='VehId', how='left')

In [32]:
#22436808
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5131987 entries, 0 to 5131986
Data columns (total 28 columns):
 #   Column                               Dtype
---  ------                               -----
 0   DayNum                               float64
 1   VehId                                int64
 2   Trip                                 int64
 3   Timestamp(ms)                        int64
 4   Latitude[deg]                        float64
 5   Longitude[deg]                       float64
 6   Vehicle Speed[km/h]                  float64
 7   MAF[g/sec]                           float64
 8   Engine RPM[RPM]                      float64
 9   Absolute Load[%]                     float64
 10  OAT[DegC]                            float64
 11  Fuel Rate[L/hr]                      float64
 12  Air Conditioning Power[kW]           float64
 13  Air Conditioning Power[Watts]        float64
 14  Heater Power[Watts]                  float64
 15  HV Battery Current[A]                float64
 16  HV Battery SOC[%]                    float64
 17  HV Battery Voltage[V]                float64
 18  Short Term Fuel Trim Bank 1[%]       float64
 19  Short Term Fuel Trim Bank 2[%]       float64
 20  Long Term Fuel Trim Bank 1[%]        float64
 21  Long Term Fuel Trim Bank 2[%]        float64
 22  Vehicle Type                         object
 23  Vehicle Class                        object
 24  Engine Configuration & Displacement  object
 25  Transmission                         object
 26  Drive Wheels                         object
 27  Generalized_Weight                   float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.1+ GB

In [33]:
'''
Checked for duplicates
'''

duplicates = df.duplicated()
if duplicates.any():
    print("Duplicates found in the DataFrame:")
    print(df[duplicates])

In [34]:
'''
Checked unique and number of unique values in the new df_dynamic
'''

for i in df.columns:
    print(f"\nUnique values in column '{i}':")
    print(f"Number of unique values: {df[i].nunique()}")
    print(df[i].unique())
    print(df[i].value_counts())

Unique values in column 'DayNum':
Number of unique values: 7887
[  1.58665119   1.93178629   1.71977381 ... 126.83646968 126.8464274
 126.04467598]
DayNum
42.708322     9866
1.477313      6358
62.840782     5826
23.953190     5771
24.544544     5625
              ...
106.717923     101
60.602664      101
33.663761      101
35.790547      101
80.675041      101
Name: count, Length: 7887, dtype: int64

Unique values in column 'VehId':
Number of unique values: 355
[  8  10  11 124 125 130 133 147 154 155 156 160 165 174 176 184 189 195
 203 207 209 212 216 220 223 228 230 231 233 237 240 241 242 259 260 265
 267 272 278 298 299 301 304 319 323 334 340 344 350 351 353 355 356 370
 374 378 387 388 394 410 411 418 430 433 434 438 439 440 445 449 450 451
 452 456 460 462 468 477 478 488 497 502 507 516 519 521 528 532 535 537
 540 547 549 550 557 569 574 575 576 579 584 588 108 110 116 128 140 150
 157 180 181 185 192 215 225 244 246 248 249 250 257 258 276 291 307 315
 330 367 369 384 392 393 398 403 415 422 431 432 443 444 453 464 465 480
 486 494 500 530 531 533 543 546 555 560 564 587 595 601 163 196 205 213
 217 222 234 266 273 283 289 308 309 324 326 345 346 372 375 382 399 400
 402 426 441 482 483 538 554 565 592 596 597 606 608 126 132 218 232 243
 264 268 282 292 337 347 359 368 385 405 428 455 459 463 469 472 473 484
 489 498 506 529 548 561 566 581 115 153 179 200 269 293 312 338 371 407
 413 417 501 522  12 139 208 271 454 457 504 562 578 143 149 161 235 254
 311 383 404 536 563 571 202 252 288 349 366 406 409 436 458 474 475 490
 591 602 603 605   5 142 169 381 416 435 448 470 604 135 206 437 467 542
 607 609 123 274 333 598 167 214 286 313 466 120 429 503 159 201 539 534
 303 447 600 251   2 162 476 164 487 526 610 137 191 285 329 386 129 414
 492 577 211 148 270 275 348 376 461 599 255 380 325 328 397 527 360 567
 618 580 545 616 172 247 558 297 357 379 306 541   9]
VehId
560    174041
371     82594
564     68871
575     66913
484     65391
        ...
527       199
461       174
9         164
558       113
172       110
Name: count, Length: 355, dtype: int64

Unique values in column 'Trip':
Number of unique values: 2070
[ 706  707 1558 ... 2257 1502 1901]
Trip
956     13850
884     12834
658     12644
1267    10646
789     10491
        ...
60        106
2355      103
202       103
2549      102
2305      102
Name: count, Length: 2070, dtype: int64

Unique values in column 'Timestamp(ms)':
Number of unique values: 56820
[      0     200    1100 ... 8377200 3016500 3027200]
Timestamp(ms)
0          7887
3000       2741
16000      2600
3100       2300
19000      2205
           ...
8367200       1
8366200       1
8365900       1
8364800       1
8363800       1
Name: count, Length: 56820, dtype: int64

Unique values in column 'Latitude[deg]':
Number of unique values: 276663
[42.27755833 42.27825528 42.2790125  ... 42.26687    42.26242389
 42.259955  ]
Latitude[deg]
42.266517    1165
42.266613    1104
42.275244     982
42.265952     941
42.286994     877
             ...
42.286131       1
42.240483       1
42.247699       1
42.300995       1
42.241752       1
Name: count, Length: 276663, dtype: int64

Unique values in column 'Longitude[deg]':
Number of unique values: 351148
[-83.69874972 -83.69880306 -83.69890111 ... -83.71665333 -83.71606639
 -83.7147225 ]
Longitude[deg]
-83.747713    1164
-83.747760    1095
-83.744237    1001
-83.751339     920
-83.726332     865
              ...
-83.769010       1
-83.777571       1
-83.681458       1
-83.790251       1
-83.714142       1
Name: count, Length: 351148, dtype: int64

Unique values in column 'Vehicle Speed[km/h]':
Number of unique values: 17921
[ 40.        45.        47.       ... 120.15625  115.28125   85.984375]
Vehicle Speed[km/h]
0.000000      646098
54.000000      80523
56.000000      78962
57.000000      78959
60.000000      77198
               ...
127.984375         1
127.593750         1
124.593750         1
110.259995         1
112.009995         1
Name: count, Length: 17921, dtype: int64

Unique values in column 'MAF[g/sec]':
Number of unique values: 8573
[22.12999916  6.1500001  21.44000053 ... 72.54000092 73.88999939
 74.79000092]
MAF[g/sec]
0.710000      161436
0.870000       78271
0.170000       74681
0.180000       51256
0.180000       42796
               ...
67.639999          1
65.070000          1
103.849998         1
78.989998          1
37.059998          1
Name: count, Length: 8573, dtype: int64

Unique values in column 'Engine RPM[RPM]':
Number of unique values: 4272
[2285. 2744. 1982. ... 5357. 4427. 4429.]
Engine RPM[RPM]
0.0       733791
1280.0     25063
1312.0     19957
1184.0     18773
1248.0     16728
           ...
3754.0         2
3806.0         1
3688.0         1
4833.0         1
4306.0         1
Name: count, Length: 4272, dtype: int64

Unique values in column 'Absolute Load[%]':
Number of unique values: 423
[4.90196075e+01 6.74509811e+01 7.80392151e+01 4.43137245e+01
 5.09803925e+01 3.56862755e+01 3.21568642e+01 2.74509811e+01
 2.23529415e+01 3.05882359e+01 3.33333321e+01 1.41176472e+01
 3.17647057e+01 1.88235302e+01 2.35294113e+01 3.13725491e+01
 3.41176491e+01 3.72549019e+01 1.49019613e+01 1.84313736e+01
 2.00000000e+01 5.68627472e+01 5.17647057e+01 7.05882339e+01
 4.86274529e+01 1.56862745e+01 7.29411774e+01 8.11764755e+01
 4.07843132e+01 2.27450981e+01 2.31372547e+01 2.39215698e+01
 2.19607849e+01 2.03921566e+01 2.11764717e+01 3.80392151e+01
 5.52941170e+01 3.29411774e+01 4.27450981e+01 3.64705887e+01
 5.92156868e+01 7.45098038e+01 5.21568642e+01 4.74509811e+01
 1.45098038e+01 1.68627453e+01 4.70588226e+01 2.15686283e+01
 3.45098038e+01 6.54901962e+01 6.39215698e+01 7.72549057e+01
 7.68627472e+01            nan 5.13725510e+01 0.00000000e+00
 5.84313736e+01 6.19607849e+01 5.33333359e+01 5.56862755e+01
 5.49019623e+01 5.64705887e+01 1.25490198e+01 3.37254906e+01
 1.52941179e+01 5.76470604e+01 1.01960783e+01 4.78431396e+01
 6.11764717e+01 4.35294113e+01 6.00000000e+01 6.35294113e+01
 5.01960793e+01 4.62745094e+01 4.66666679e+01 9.01960754e+00
 4.31372547e+00 1.37254906e+01 1.05882359e+01 9.80392170e+00
 4.58823547e+01 5.96078453e+01 5.29411774e+01 4.39215698e+01
 1.60784321e+01 6.27450981e+01 5.41176491e+01 5.25490189e+01
 1.17647057e+01 1.21568632e+01 4.47058830e+01 4.31372566e+01
 4.70588255e+00 4.15686264e+01 1.13725491e+01 4.82352943e+01
 1.09803925e+01 4.00000000e+01 3.25490189e+01 1.92156868e+01
 2.54901962e+01 5.09803915e+00 2.86274509e+01 6.78431396e+01
 6.50980377e+01 6.07843132e+01 3.68627472e+01 3.01960793e+01
 1.96078434e+01 2.78431377e+01 1.76470585e+01 2.07843132e+01
 1.33333340e+01 2.43137264e+01 2.62745094e+01 5.80392151e+01
 3.49019623e+01 5.60784340e+01 3.92156868e+01 8.23529434e+00
 3.09803925e+01 9.41176510e+00 2.82352943e+01 4.11764717e+01
 2.66666679e+01 2.47058830e+01 2.50980396e+01 6.47058868e+01
 1.72549019e+01 5.72549019e+01 4.94117661e+01 2.58823528e+01
 4.23529434e+01 1.64705887e+01 6.43137283e+01 2.90196075e+01
 1.80392151e+01 5.37254906e+01 6.23529434e+01 6.98039246e+01
 7.17647095e+01 3.96078453e+01 6.58823547e+01 7.76470566e+01
 3.52941170e+01 6.90196075e+01 7.92156906e+01 3.60784302e+01
 4.03921585e+01 2.98039227e+01 1.29411764e+01 3.76470604e+01
 8.70588226e+01 2.94117661e+01 7.09803925e+01 6.03921585e+01
 2.70588245e+01 3.88235283e+01 4.54901962e+01 4.98039207e+01
 6.82352982e+01 7.52941208e+01 8.54901962e+01 5.88235321e+01
 8.35294113e+01 7.64705887e+01 4.50980415e+01 6.70588226e+01
 7.37254944e+01 7.21568604e+01 6.86274490e+01 7.84313736e+01
 8.00000000e+01 5.45098038e+01 6.62745132e+01 8.58823547e+01
 7.13725510e+01 8.62745094e+00 6.66666641e+01 4.19607849e+01
 3.84313736e+01 5.05882378e+01 6.15686302e+01 7.41176453e+01
 6.94117661e+01 7.60784302e+01 6.31372566e+01 5.88235283e+00
 1.01176476e+02 8.78431396e+01 1.28627457e+02 1.31764709e+02
 8.15686264e+01 9.09803925e+01 1.05882355e+02 3.92156863e+00
 7.84313726e+00 5.49019623e+00 7.33333359e+01 7.01960831e+01
 8.50980377e+01 6.27450991e+00 6.66666698e+00 1.35294113e+02
 7.88235321e+01 8.39215698e+01 8.43137283e+01 7.96078415e+01
 8.86274490e+01 9.17647095e+01 8.27451019e+01 8.62745132e+01
 1.09803925e+02 1.06274513e+02 1.00000000e+02 1.21568626e+02
 8.98039246e+01 9.25490189e+01 1.09411766e+02 8.82352982e+01
 7.49019623e+01 9.88235321e+01 7.56862793e+01 7.25490189e+01
 9.52941208e+01 1.07058823e+02 1.11764709e+02 8.90196075e+01
 9.33333359e+01 9.76470642e+01 2.35294127e+00 8.23529434e+01
 7.45098066e+00 9.68627472e+01 8.19607849e+01 9.84313736e+01
 7.05882359e+00 3.13725495e+00 1.04705887e+02 1.27843140e+02
 9.01960831e+01 1.00392159e+02 1.78431381e+02 1.27058823e+02
 9.60784302e+01 9.13725510e+01 1.01960785e+02 1.23921570e+02
 9.72549057e+01 8.47058868e+01 1.14117645e+02 1.08235298e+02
 1.01568626e+02 8.07843170e+01 8.03921585e+01 1.24313728e+02
 8.94117661e+01 8.66666718e+01 1.06666672e+02 9.21568680e+01
 1.21176476e+02 1.25882355e+02 9.29411774e+01 9.05882339e+01
 3.52941179e+00 9.37254944e+01 8.74509811e+01 9.64705887e+01
 1.02352943e+02 8.31372528e+01 1.00784317e+02 1.29019608e+02
 1.03529411e+02 1.16078430e+02 1.12941177e+02 1.54901962e+02
 1.17647064e+02 9.45098038e+01 1.34901962e+02 1.35686279e+02
 1.18823532e+02 1.39607849e+02 1.40784317e+02 1.45098038e+02
 1.20000000e+02 9.56862793e+01 9.92156906e+01 1.15294121e+02
 9.41176453e+01 9.96078415e+01 1.25490196e+02 1.09019608e+02
 1.19215691e+02 1.41176468e+02 9.49019623e+01 2.74509811e+00
 1.22745102e+02 1.03137253e+02 1.36078430e+02 1.23137260e+02
 1.31372559e+02 1.12549019e+02 1.93333344e+02 1.14509804e+02
 1.05098038e+02 1.45490204e+02 1.25098038e+02 1.30196075e+02
 1.62352951e+02 1.07843140e+02 1.36862747e+02 1.19607841e+02
 1.26666672e+02 1.11372551e+02 1.56862747e+02 5.43921570e+02
 1.94117645e+02 9.80392151e+01 1.03921570e+02 1.02745102e+02
 1.33333328e+02 1.22352943e+02 1.66274506e+02 1.16470589e+02
 1.34117645e+02 1.43529419e+02 1.17254906e+02 1.38823532e+02
 1.04313728e+02 1.96078432e+00 1.28576475e+04 1.72156860e+02
 1.08627449e+02 1.28235291e+02 1.10588234e+02 1.17647064e+00
 1.15686279e+02 1.05490196e+02 1.07450981e+02 1.13725494e+02
 1.10980392e+02 1.10196083e+02 2.41568634e+02 1.34509811e+02
 1.32941177e+02 1.31431377e+04 1.44705887e+02 1.58823532e+02
 1.12156868e+02 1.27450981e+02 1.36470596e+02 1.42352951e+02
 1.26274513e+02 1.24705887e+02 1.16862747e+02 1.14901962e+02
 1.39215683e+02 1.41568634e+02 1.32156860e+02 1.55686279e+02
 1.58039215e+02 1.30588242e+02 2.30588242e+02 1.73435293e+04
 1.86274506e+02 1.52549026e+02 1.18431374e+02 1.75686279e+02
 1.65639219e+04 1.84313736e+02 1.74117645e+02 1.63529419e+02
 1.59215683e+02 1.48627457e+02 1.57647064e+02 1.20392159e+02
 1.52156860e+02 1.74509811e+02 1.41960785e+02 1.29803925e+02
 1.33725494e+02 1.44313721e+02 1.49019608e+02 1.60392166e+02
 1.18039215e+02 1.20784317e+02 1.46274506e+02 1.23529411e+02
 1.69803925e+02 1.56862748e+00 2.06274506e+02 1.85882355e+02
 1.65098038e+02 1.30980392e+02 1.36141182e+04 1.40000000e+02
 1.70980392e+02 1.60345098e+04 1.13333336e+02 1.80784317e+02
 1.38431381e+02 1.70588242e+02 1.74901962e+02 1.65882355e+02
 2.16470596e+02 1.61176468e+02 1.54509811e+02 1.40392166e+02
 1.50196075e+02 1.21960785e+02 1.51372559e+02 1.46666672e+02
 1.38039215e+02 1.47843140e+02 1.49803925e+02 1.45882355e+02
 1.32549026e+02 1.52941177e+02 2.03529419e+02 1.59607849e+02
 1.43137253e+02 1.48235291e+02 1.73333344e+02 1.90196075e+02]
Absolute Load[%]
0.000000        314936
14.901961        61559
15.686275        57689
15.294118        55902
14.509804        55764
                 ...
141.568634           4
146.274506           4
543.921570           3
165.882355           2
16034.509766         2
Name: count, Length: 423, dtype: int64

Unique values in column 'OAT[DegC]':
Number of unique values: 176
[   nan   5.     6.25   5.25   5.75   3.75   4.     4.25   4.5    3.5
   3.25   4.75   5.5   17.    18.    19.     8.     7.5    7.     6.5
   2.25   2.75   3.     8.75   6.75   7.75   9.     8.25   8.5    9.25
  10.5   10.75   9.5    9.75   7.25   6.     1.5    2.5    1.75   2.
  10.    14.    14.5   14.75  11.5   16.    20.    22.    23.    24.
  25.    26.    27.    28.    29.    30.    15.    12.5   12.25  11.75
  12.75  13.    10.25  11.25  11.    15.5   13.75  13.5   15.25  16.5
  12.    -5.5   -5.    -6.    -7.    -1.     0.   -10.    -3.    -4.
  -2.     1.    -3.5   -2.5   -3.25  -3.75  -4.75  -5.25  -4.5   -5.75
  -6.25  -6.5   -6.75  -0.75  -1.75  -1.5   -2.25  -1.25  -2.75  -8.
   0.5   -0.5   -7.5   -4.25  -9.   -11.    -8.25  -8.5   -9.75  -9.25
 -12.   -13.    -7.75  -7.25 -10.25 -10.5    0.25   1.25   0.75  21.
  -9.5  -11.75 -10.75 -14.   -17.   -16.   -12.5  -12.75 -12.25 -13.5
  -0.25 -11.5  -18.   -11.25 -17.5  -17.75 -17.25 -18.5  -15.   -14.25
 -13.75 -14.5  -16.5  -15.5  -15.75 -14.75 -15.25 -16.25 -16.75 -13.25
 -19.   -19.5  -21.25 -24.5  -20.25 -20.   -19.75 -21.5   -8.75 -20.5
 -21.    33.   -40.   -39.    17.5   18.25  18.5   18.75  15.75  16.25
  16.75  14.25  17.75 -38.   -37.   -36.    34.  ]
OAT[DegC]
 0.00     97489
 2.00     89414
 4.00     89027
 1.00     87395
 6.00     87274
          ...
 17.50       50
-36.00       35
 18.75       13
-21.25       10
-19.75        2
Name: count, Length: 176, dtype: int64

Unique values in column 'Fuel Rate[L/hr]':
Number of unique values: 1570
[       nan 0.         6.69228172 ... 4.62211037 3.82075405 1.49300373]
Fuel Rate[L/hr]
0.000000     135683
1.640873        219
1.645643        182
1.669493        172
1.745813        110
              ...
4.049713          2
3.181577          2
9.640129          1
10.408096         1
11.228533         1
Name: count, Length: 1570, dtype: int64

Unique values in column 'Air Conditioning Power[kW]':
Number of unique values: 47
[       nan 5.79999971 5.92000008 5.71999979 5.75999975 5.83999968
 5.67999983 0.59999996 0.         0.16       0.19999999 0.31999999
 0.08       0.47999999 0.28       0.51999998 5.5999999  5.55999994
 5.63999987 0.23999999 0.56       6.07999992 6.19999981 6.15999985
 0.04       0.39999998 0.35999998 0.44       6.23999977 6.31999969
 6.03999996 6.27999973 6.35999966 6.11999989 6.         5.96000004
 5.87999964 5.51999998 5.35999966 5.44000006 5.4000001  5.27999973
 5.31999969 0.12       4.75999975 4.19999981 4.83999968 5.19999981]
Air Conditioning Power[kW]
0.00    117690
0.20      8076
0.24      5352
0.16      3378
0.28      3071
6.20      2528
5.88      2485
5.92      2280
5.76      2111
6.24      1641
6.16      1575
0.36      1555
5.84      1519
5.80      1474
5.96      1425
6.08      1239
5.72      1202
0.32      1196
0.40       859
6.04       844
5.68       841
6.12       806
5.36       776
6.00       762
5.28       515
0.04       493
5.40       490
0.12       453
5.44       403
5.52       369
5.56       306
5.60       304
0.44       300
5.32       220
5.64       206
5.20       116
4.84       113
4.20       104
0.60        96
6.28        91
4.76        89
6.32        88
0.48        82
0.08        72
6.36        51
0.56        20
0.52         7
Name: count, dtype: int64

Unique values in column 'Air Conditioning Power[Watts]':
Number of unique values: 52
[  nan    0.  100. 1000. 1350.  240.  200.  280.  560.  640.  400.  360.
  440.  480.  120.  150.  550.  800.  750.  700.  650.  250.  300.  350.
  850.  900.  950.  160.  320.  450. 1050.  500.  600. 1200. 1100. 1150.
 1400.   50. 1800.   80. 1300. 1950. 1900. 1850. 1250. 2500. 2050. 2350.
 1700. 1750.  520.   40. 1500.]
Air Conditioning Power[Watts]
0.0       453528
400.0      11170
200.0      10013
150.0       9219
450.0       6289
350.0       5600
100.0       4818
800.0       4016
1050.0      3133
1100.0      3069
1000.0      3004
900.0       2827
750.0       2782
160.0       2708
850.0       2702
240.0       2343
120.0       2126
500.0       2013
650.0       1537
950.0       1506
700.0       1342
320.0       1310
300.0       1267
280.0       1101
550.0        907
1850.0       860
1800.0       818
80.0         810
1200.0       741
600.0        700
1250.0       671
250.0        666
2050.0       527
1150.0       485
1700.0       464
1900.0       372
1300.0       364
50.0         317
1950.0       275
1350.0       259
360.0        245
2500.0       223
1750.0       166
480.0        153
1400.0       107
1500.0       105
40.0          90
440.0         79
640.0         69
2350.0        55
520.0         48
560.0         22
Name: count, dtype: int64

Unique values in column 'Heater Power[Watts]':
Number of unique values: 17
[  nan 2250. 2000. 1750. 1500. 1250. 1000.  750.  500.  250.    0. 4000.
 3500. 3750. 3000. 3250. 2750. 2500.]
Heater Power[Watts]
0.0       34351
250.0     10765
500.0      7654
750.0      6216
1000.0     4186
1500.0     2816
1250.0     2754
1750.0     2666
3000.0     2417
3500.0     1275
3250.0     1140
2250.0      850
2750.0      714
2000.0      636
2500.0      510
3750.0       91
4000.0       86
Name: count, dtype: int64

Unique values in column 'HV Battery Current[A]':
Number of unique values: 14977
[          nan  -21.5          23.5        ... -165.30000305 -155.55000305
 -174.30000305]
HV Battery Current[A]
-1.500000     4064
-3.000000     2502
 0.000000     2114
-4.500000     1968
-6.000000     1878
              ...
-48.440002       1
 37.019989       1
-54.380005       1
-35.809998       1
 76.610001       1
Name: count, Length: 14977, dtype: int64

Unique values in column 'HV Battery SOC[%]':
Number of unique values: 3555
[        nan 96.34146881 95.97561646 ... 63.2911377  56.68354034
 44.93670654]
HV Battery SOC[%]
0.000000     179192
1.000000      26923
2.000000      26324
3.000000      16320
0.392157      10209
              ...
67.924042         1
34.627850         1
64.513931         1
47.382282         1
31.974682         1
Name: count, Length: 3555, dtype: int64

Unique values in column 'HV Battery Voltage[V]':
Number of unique values: 974
[         nan 386.         390.5        384.5        387.
 382.5        389.5        387.5        378.5        383.5
 389.         388.5        381.5        291.5        300.
 294.5        292.5        287.5        296.5        293.
 296.         289.         301.5        295.         295.5
 284.         293.5        297.         279.         290.
 292.         304.         294.         298.5        297.5
 291.         307.5        285.         300.5        288.
 309.5        299.         299.5        301.         302.
 274.         306.         302.5        309.         298.
 308.         287.         286.         286.5        290.5
 282.5        283.         303.5        288.5        345.
 348.         346.         347.         343.         352.
 359.         350.         351.         353.         356.
 338.         349.         360.         339.         341.
 337.         342.         344.         330.         332.
 333.         340.         329.         331.         326.
 334.         336.         357.         335.         358.
 359.5        361.25       361.75       357.375      360.5
 368.125      362.25       356.375      358.875      359.25
 371.875      356.875      354.75       361.375      361.625
 352.25       354.625      366.125      352.375      357.875
 357.5        358.25       360.75       361.         371.25
 362.         361.5        357.625      367.5        360.375
 357.75       360.25       361.125      359.875      365.25
 361.875      354.125      355.875      365.75       360.875
 360.625      352.75       354.         354.5        363.75
 359.625      357.125      355.125      359.375      358.75
 358.5        362.625      358.125      355.25       362.875
 354.375      355.         357.25       352.875      354.875
 359.125      350.25       358.625      358.375      356.25
 355.75       356.75       356.125      355.5        356.625
 355.625      356.5        352.125      353.875      362.75
 353.75       351.5        352.625      351.375      349.5
 363.375      348.5        338.75       339.625      332.5
 341.75       344.625      347.75       328.375      348.125
 345.25       348.75       338.375      338.25       347.125

In [35]:
df.head().to_dict()

{'DayNum': {0: 1.58665119444,
  1: 1.58665119444,
  2: 1.58665119444,
  3: 1.58665119444,
  4: 1.58665119444},
 'VehId': {0: 8, 1: 8, 2: 8, 3: 8, 4: 8},
 'Trip': {0: 706, 1: 706, 2: 706, 3: 706, 4: 706},
 'Timestamp(ms)': {0: 0, 1: 200, 2: 1100, 3: 2100, 4: 4200},
 'Latitude[deg]': {0: 42.2775583333,
  1: 42.2775583333,
  2: 42.2775583333,
  3: 42.2775583333,
  4: 42.2775583333},
 'Longitude[deg]': {0: -83.6987497222,
  1: -83.6987497222,
  2: -83.6987497222,
  3: -83.6987497222,
  4: -83.6987497222},
 'Vehicle Speed[km/h]': {0: 40.0, 1: 40.0, 2: 45.0, 3: 47.0, 4: 48.0},
 'MAF[g/sec]': {0: 22.1299991608,
  1: 22.1299991608,
  2: 22.1299991608,
  3: 6.15000009537,
  4: 21.4400005341},
 'Engine RPM[RPM]': {0: 2285.0, 1: 2285.0, 2: 2285.0, 3: 2744.0, 4: 1982.0},
 'Absolute Load[%]': {0: 49.0196075439,
  1: 67.4509811401,
  2: 67.4509811401,
  3: 67.4509811401,
  4: 67.4509811401},
 'OAT[DegC]': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'Fuel Rate[L/hr]': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'Air Conditioning Power[kW]': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'Air Conditioning Power[Watts]': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'Heater Power[Watts]': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'HV Battery Current[A]': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'HV Battery SOC[%]': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'HV Battery Voltage[V]': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'Short Term Fuel Trim Bank 1[%]': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'Short Term Fuel Trim Bank 2[%]': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'Long Term Fuel Trim Bank 1[%]': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'Long Term Fuel Trim Bank 2[%]': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'Vehicle Type': {0: 'ICE', 1: 'ICE', 2: 'ICE', 3: 'ICE', 4: 'ICE'},
 'Vehicle Class': {0: 'Car', 1: 'Car', 2: 'Car', 3: 'Car', 4: 'Car'},
 'Engine Configuration & Displacement': {0: '4-FI 1.5L',
  1: '4-FI 1.5L',
  2: '4-FI 1.5L',
  3: '4-FI 1.5L',
  4: '4-FI 1.5L'},
 'Transmission': {0: '5-SP MANUAL',
  1: '5-SP MANUAL',
  2: '5-SP MANUAL',
  3: '5-SP MANUAL',
  4: '5-SP MANUAL'},
 'Drive Wheels': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan},
 'Generalized_Weight': {0: 2500.0, 1: 2500.0, 2: 2500.0, 3: 2500.0, 4: 2500.0}}

In [36]:
'''
Mapped these values to OAT[DegC] values and create a new column 'OAT_Category' (< -20 'Extremely Cold' , -20 to 0 'Cold', 0 to 10 'Cool', 10 to 20 'Mild', 20 to 30 'Warm', > 30 'Hot')
'''

def categorize_oat(value):
    if value < -20:
        return 'Extremely Cold'
    elif -20 <= value < 0:
        return 'Cold'
    elif 0 <= value < 10:
        return 'Cool'
    elif 10 <= value < 20:
        return 'Mild'
    elif 20 <= value < 30:
        return 'Warm'
    elif value >= 30:
        return 'Hot'
    else:
        return np.nan

df['OAT_Category'] = df['OAT[DegC]'].apply(categorize_oat)

In [37]:
df['OAT_Category'].unique()

array([nan, 'Cool', 'Mild', 'Warm', 'Hot', 'Cold', 'Extremely Cold'],
      dtype=object)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5131987 entries, 0 to 5131986
Data columns (total 29 columns):
 #   Column                               Dtype
---  ------                               -----
 0   DayNum                               float64
 1   VehId                                int64
 2   Trip                                 int64
 3   Timestamp(ms)                        int64
 4   Latitude[deg]                        float64
 5   Longitude[deg]                       float64
 6   Vehicle Speed[km/h]                  float64
 7   MAF[g/sec]                           float64
 8   Engine RPM[RPM]                      float64
 9   Absolute Load[%]                     float64
 10  OAT[DegC]                            float64
 11  Fuel Rate[L/hr]                      float64
 12  Air Conditioning Power[kW]           float64
 13  Air Conditioning Power[Watts]        float64
 14  Heater Power[Watts]                  float64
 15  HV Battery Current[A]                float64
 16  HV Battery SOC[%]                    float64
 17  HV Battery Voltage[V]                float64
 18  Short Term Fuel Trim Bank 1[%]       float64
 19  Short Term Fuel Trim Bank 2[%]       float64
 20  Long Term Fuel Trim Bank 1[%]        float64
 21  Long Term Fuel Trim Bank 2[%]        float64
 22  Vehicle Type                         object
 23  Vehicle Class                        object
 24  Engine Configuration & Displacement  object
 25  Transmission                         object
 26  Drive Wheels                         object
 27  Generalized_Weight                   float64
 28  OAT_Category                         object
dtypes: float64(20), int64(3), object(6)
memory usage: 1.1+ GB

In [39]:
'''
Converted DayNum to timestamp using vectorized timedelta to create separate columns for df['DateTime'], df['Date'] and df['Time']
'''

import pandas as pd
from datetime import datetime, timedelta

# Reference datetime for DayNum = 1
reference_date = datetime(2017, 11, 1)

# Convert DayNum to timestamp using vectorized timedelta
df['DateTime'] = pd.to_timedelta(df['DayNum'] - 1, unit='D') + reference_date

# Create separate columns for date and time
df['Date'] = df['DateTime'].dt.date

# Create a time column with proper formatting
df['Time'] = df['DateTime'].dt.time

In [40]:
'''
Calculated distance travelled in km using Vehicle Speed[km/h] and Timestamp(ms) - df['Distance[km]'] : df['Distance[km]'] = df['Vehicle Speed[km/h]'] * (df['Timestamp(ms)'] / 3600000)
'''

df['Distance[km]'] = df['Vehicle Speed[km/h]'] * (df['Timestamp(ms)'] / 3600000)

In [41]:
'''
Calculated FCR based on the Algorithm in IEEE paper - [the VED paper](https://arxiv.org/abs/1905.02081)

Algorithm 1: Estimation of Fuel Consumption Rate (FCR)
Input : FuelRate, MAF, AbsLoad, Displacementeng,
RPMeng, ST FT, LT FT, AFR, œÅair
Output: FCR
1 correction = (1 + ST FT/100 + LT FT/100)/AFR
2 if FuelRate is available then
3 return FuelRate
4 else if MAF is available then
5 return MAF * correction
6 else if AbsLoad and RPMeng are available then
7 MAF =
AbsLoad/100*œÅair*Displacementeng*RPMeng/120
8 return MAF * correction
9 else
10 return NaN
'''

import pandas as pd
import numpy as np

# Constants
AFR = 14.7  # typical AFR for gasoline engines
œÅ_air = 1.184  # air density in kg/m¬≥

def compute_fcr(df):
    # Parse displacement in liters from 'Engine Configuration & Displacement' if format like "I4 2.0L"
    def extract_displacement(val):
        try:
            return float(val.split()[-1].replace("L", ""))
        except:
            return np.nan

    df['Displacement_L'] = df['Engine Configuration & Displacement'].apply(extract_displacement)

    # Compute correction factor
    df['correction'] = (1 + df['Short Term Fuel Trim Bank 1[%]']/100 + df['Long Term Fuel Trim Bank 1[%]']/100) / AFR

    # Step 1: Use FuelRate if available
    df['FCR'] = np.where(
        ~df['Fuel Rate[L/hr]'].isna(),
        df['Fuel Rate[L/hr]'],
        np.nan
    )

    # Step 2: Else if MAF is available
    maf_condition = df['FCR'].isna() & ~df['MAF[g/sec]'].isna()
    df.loc[maf_condition, 'FCR'] = df.loc[maf_condition, 'MAF[g/sec]'] * df.loc[maf_condition, 'correction']

    # Step 3: Else if AbsLoad and RPMeng are available
    derived_condition = df['FCR'].isna() & ~df['Absolute Load[%]'].isna() & ~df['Engine RPM[RPM]'].isna() & ~df['Displacement_L'].isna()
    maf_derived = (df['Absolute Load[%]'] / 100) * œÅ_air * df['Displacement_L'] * df['Engine RPM[RPM]'] / 120
    df.loc[derived_condition, 'FCR'] = maf_derived[derived_condition] * df.loc[derived_condition, 'correction']

    return df

df = compute_fcr(df)

In [42]:
'''
Calculated Power using Voltage and Current: df['HV Battery Power[Watts]'] = df['HV Battery Voltage[V]'] * df['HV Battery Current[A]']
'''

df['HV Battery Power[Watts]'] = df['HV Battery Voltage[V]'] * df['HV Battery Current[A]']

In [43]:
df.columns
# Save the final DataFrame to a CSV file

Index(['DayNum', 'VehId', 'Trip', 'Timestamp(ms)', 'Latitude[deg]',
       'Longitude[deg]', 'Vehicle Speed[km/h]', 'MAF[g/sec]',
       'Engine RPM[RPM]', 'Absolute Load[%]', 'OAT[DegC]', 'Fuel Rate[L/hr]',
       'Air Conditioning Power[kW]', 'Air Conditioning Power[Watts]',
       'Heater Power[Watts]', 'HV Battery Current[A]', 'HV Battery SOC[%]',
       'HV Battery Voltage[V]', 'Short Term Fuel Trim Bank 1[%]',
       'Short Term Fuel Trim Bank 2[%]', 'Long Term Fuel Trim Bank 1[%]',
       'Long Term Fuel Trim Bank 2[%]', 'Vehicle Type', 'Vehicle Class',
       'Engine Configuration & Displacement', 'Transmission', 'Drive Wheels',
       'Generalized_Weight', 'OAT_Category', 'DateTime', 'Date', 'Time',
       'Distance[km]', 'Displacement_L', 'correction', 'FCR',
       'HV Battery Power[Watts]'],
      dtype='object')

In [ ]:
push_df_to_s3(df, 'Cleaned up VED Source Data/df_VED.csv')

In [44]:
push_df_to_s3_parquet(df, 'Cleaned up VED Source Data/df_VED.parquet')

DataFrame uploaded to s3://s3aravindh973515031797/Cleaned up VED Source Data/df_VED.parquet

# Sample plots

In [ ]:
'''
Calculate and display the average distance travelled for each vehicle type.
This is done by grouping the DataFrame by 'Vehicle Type' and computing the mean of 'Distance[km]'.
The result is then sorted in descending order of mean distance.
'''

df_distance = df.groupby(['Vehicle Type'])['Distance[km]'].mean().reset_index().sort_values(by='Distance[km]', ascending=False)
df_distance

In [ ]:
'''
Plot a bar chart showing the average distance travelled by each vehicle type.
- Uses matplotlib to create a bar plot of mean distance per vehicle type.
- Sets figure size, axis labels, and title.
- Limits y-axis to 10% above the maximum mean distance.
- Annotates each bar with its value.
- Displays the plot.
'''
import matplotlib.pyplot as plt
plt.figure(figsize=(5, 3))
plt.bar(df_distance['Vehicle Type'], df_distance['Distance[km]'], alpha=0.7, color='blue')
plt.title('Average Distance Travelled by Vehicle Types')
plt.xlabel('Vehicle Type')
plt.ylabel('Mean Distance (km)')
plt.ylim(0, df_distance['Distance[km]'].max() * 1.1)  # Set y-axis limit to 10% above max distance
# Add text labels on top of the bars
for index, value in enumerate(df_distance['Distance[km]']):
    plt.text(index, value, f"{value:.2f}", ha='center', va='bottom')
plt.tight_layout()
plt.show()

In [ ]:
"""
Calculate the average HV Battery Voltage for each day:
- Convert the 'Date' column to datetime format.
- Group the DataFrame by day and compute the mean of 'HV Battery Voltage[V]'.
- Reset the index and convert the period index back to timestamps.
- Sort the resulting DataFrame by date.
"""

df['Date'] = pd.to_datetime(df['Date'])
df_eot = df.groupby(df['Date'].dt.to_period('D'))['HV Battery Voltage[V]'].mean().reset_index()
df_eot['Date'] = df_eot['Date'].dt.to_timestamp()
df_eot = df_eot.sort_values(by='Date')
df_eot

In [ ]:
'''
Plot the average HV Battery Voltage over time:
- Uses matplotlib to create a line plot of mean HV Battery Voltage per day.
- Sets figure size, axis labels, and title.
- Displays the plot.
'''

import matplotlib.pyplot as plt

plt.figure(figsize=(5, 3))
plt.plot(df_eot['Date'], df_eot['HV Battery Voltage[V]'], marker='o', linestyle='-', color='blue', alpha=0.7)
plt.title('Average HV Battery Voltage Over Time')
plt.xlabel('Date')
plt.ylabel('Mean HV Battery Voltage (V)')
plt.tight_layout()
plt.show()

In [ ]:
"""
Calculate the average Fuel Consumption Rate (FCR) for each day:
- Ensure the 'Date' column is in datetime format.
- Group the DataFrame by day and compute the mean of 'FCR'.
- Reset the index and convert the period index back to timestamps.
- Sort the resulting DataFrame by date.
"""

df['Date'] = pd.to_datetime(df['Date'])
df_eof = df.groupby(df['Date'].dt.to_period('D'))['FCR'].mean().reset_index()
df_eof['Date'] = df_eof['Date'].dt.to_timestamp()
df_eof = df_eof.sort_values(by='Date')
df_eof

In [ ]:
'''
Plot the average Fuel Consumption Rate (FCR) over time:
- Uses matplotlib to create a line plot of mean FCR per day.
- Sets figure size, axis labels, and title.
- Displays the plot.
'''

import matplotlib.pyplot as plt

plt.figure(figsize=(5, 3))
plt.plot(df_eof['Date'], df_eof['FCR'], marker='o', linestyle='-', color='blue', alpha=0.7)
plt.title('Average Fuel Rate Over Time')
plt.xlabel('Date')
plt.ylabel('Mean Fuel Rate (L/hr)')
plt.tight_layout()
plt.show()

In [ ]:
'''
Average Trip Count by Location (Heat Map)
'''

df_map = df.groupby(['Latitude[deg]', 'Longitude[deg]','Vehicle Type'])['Trip'].mean().reset_index()
df_map

In [ ]:
df_map.head()

In [ ]:
'''
The code visualized the average trip count by location for each vehicle type using a scatter plot on subplots. 
It iterated over unique vehicle types, filtered the data for each type, and plotted longitude and latitude with color representing the logarithm of the average trip count. 
It set subplot titles and axis labels, and added a colorbar for each subplot. 
Finally, it adjusted the layout and displayed the figure.
'''

import matplotlib.pyplot as plt

vehicle_types = df_map['Vehicle Type'].unique()
fig, axes = plt.subplots(2, 2, figsize=(14, 10), sharex=True, sharey=True)
axes = axes.flatten()

for idx, vtype in enumerate(vehicle_types):
    ax = axes[idx]
    data = df_map[df_map['Vehicle Type'] == vtype]
    sc = ax.scatter(
        data['Longitude[deg]'],
        data['Latitude[deg]'],
        c=np.log(data['Trip']),
        marker='o',
        s=10,
        cmap='RdYlGn_r'
    )
    ax.set_title(f'Average Trip Count: {vtype}')
    ax.set_xlabel('Longitude (deg)')
    ax.set_ylabel('Latitude (deg)')
    plt.colorbar(sc, ax=ax, label='Log(Average Trip Count)')

plt.tight_layout()
plt.show()

In [ ]:
'''
Average Trips Over Time
'''

# Ensure 'Date' column is datetime type
df['Date'] = pd.to_datetime(df['Date'])

# Group by month and calculate average trips per month
df_trip = df.groupby(df['Date'].dt.to_period('M'))['Trip'].mean().reset_index()
df_trip['Date'] = df_trip['Date'].dt.to_timestamp()
df_trip = df_trip.sort_values(by='Date')
df_trip

In [ ]:
'''
Plot the average number of trips over time using a line plot.
Set figure size, plot the data with markers and lines, set the title and axis labels, adjust layout, and display the plot.
'''
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 3))
plt.plot(df_trip['Date'], df_trip['Trip'], marker='o', linestyle='-', color='blue', alpha=0.7)
plt.title('Average Trips Over Time')
plt.xlabel('Date')
plt.ylabel('Average Trips')
plt.tight_layout()
plt.show()

# Exploratory Data Analysis

In [ ]:
'''
Data exploration of Battery Power, Fuel Consumption Rate (FCR) and Battery SOC using the features Battery Power, AC Power, Heater Power with respect to OAT_Category and Vehicle Type
'''

df_SOC = df.groupby(['OAT_Category', 'Vehicle Type'])[
    ['HV Battery Power[Watts]', 'Air Conditioning Power[Watts]', 'Heater Power[Watts]','HV Battery SOC[%]','FCR']
].mean().reset_index().sort_values(by='HV Battery SOC[%]', ascending=False)

df_SOC

In [ ]:
'''
Data exploration of Battery Power, Fuel Consumption Rate (FCR) using the features below with respect to Trip and Vehicle Type
'''

df_EC_trip = df.groupby(['Trip','Vehicle Type'])[
    ['Latitude[deg]',
     'Longitude[deg]',
     'Air Conditioning Power[Watts]',
     'Heater Power[Watts]',
     'Vehicle Speed[km/h]',
       'Distance[km]',
       'Engine RPM[RPM]',
       'OAT[DegC]',
       'Generalized_Weight',
       'FCR',
       'HV Battery Power[Watts]',
       'MAF[g/sec]',
       'Absolute Load[%]',
       'Short Term Fuel Trim Bank 1[%]',
       'Short Term Fuel Trim Bank 2[%]',
       'Long Term Fuel Trim Bank 1[%]',
       'Long Term Fuel Trim Bank 2[%]'
       ]
].mean().reset_index().sort_values(by=['FCR','HV Battery Power[Watts]'], ascending=False)

df_EC_trip

In [ ]:
'''
Data exploration of Battery Power, Fuel Consumption Rate (FCR) using the features below with respect to Date (Month) and Vehicle Type
'''

df_EC_time = df.groupby([df['Date'].dt.to_period('M'), 'Vehicle Type'])[
    ['Latitude[deg]',
     'Longitude[deg]',
     'Air Conditioning Power[Watts]',
     'Heater Power[Watts]',
     'Vehicle Speed[km/h]',
       'Distance[km]',
       'Engine RPM[RPM]',
       'OAT[DegC]',
       'Generalized_Weight',
       'FCR',
       'HV Battery Power[Watts]',
       'MAF[g/sec]',
       'Absolute Load[%]',
       'Short Term Fuel Trim Bank 1[%]',
       'Short Term Fuel Trim Bank 2[%]',
       'Long Term Fuel Trim Bank 1[%]',
       'Long Term Fuel Trim Bank 2[%]']
].mean().reset_index().sort_values(
    by=['Date', 'FCR', 'HV Battery Power[Watts]'],
)

df_EC_time

In [ ]:
'''
Data exploration of Battery Power, Fuel Consumption Rate (FCR) using the features below with respect to Date and Vehicle Type
'''

df_EC_time = df.groupby([df['Date'].dt.to_period('D'), 'Vehicle Type'])[
    ['Latitude[deg]',
     'Longitude[deg]',
     'Air Conditioning Power[Watts]',
     'Heater Power[Watts]',
     'Vehicle Speed[km/h]',
       'Distance[km]',
       'Engine RPM[RPM]',
       'OAT[DegC]',
       'Generalized_Weight',
       'FCR',
       'HV Battery Power[Watts]',
       'MAF[g/sec]',
       'Absolute Load[%]',
       'Short Term Fuel Trim Bank 1[%]',
       'Short Term Fuel Trim Bank 2[%]',
       'Long Term Fuel Trim Bank 1[%]',
       'Long Term Fuel Trim Bank 2[%]']
].mean().reset_index().sort_values(
    by=['Date', 'FCR', 'HV Battery Power[Watts]'],
)

df_EC_time

In [ ]:
'''
Data exploration of Battery Power, Fuel Consumption Rate (FCR) using the features Speed, Absolute Load[%], Engine RPM, OAT, Generalized_Weight with respect to Latitude, Longitude and Vehicle Type
'''

df_la_lo = df.groupby(['Latitude[deg]','Longitude[deg]','Vehicle Type'])[
    ['Vehicle Speed[km/h]', 'Absolute Load[%]','Engine RPM[RPM]','OAT[DegC]','Generalized_Weight','FCR','HV Battery Power[Watts]']
].mean().reset_index().sort_values(by=['FCR','HV Battery Power[Watts]'], ascending=False)

df_la_lo

In [231]:
'''
ICE, HEV, EV and PHEV Analysis (Distance vs FCR and HV Battery Power[Watts]
'''

df_EC_trip_ICE_HEV = df_EC_trip[df_EC_trip['Vehicle Type'].isin(['ICE','HEV'])]
df_EC_trip_EV_PHEV = df_EC_trip[df_EC_trip['Vehicle Type'].isin(['EV','PHEV'])]


df_EC_time_ICE_HEV = df_EC_time[df_EC_time['Vehicle Type'].isin(['ICE','HEV'])]
df_EC_time_EV_PHEV = df_EC_time[df_EC_time['Vehicle Type'].isin(['EV','PHEV'])]

In [ ]:
for i in df_EC_trip_ICE_HEV.columns:
    print(f"Unique values in column '{i}':")
    print(df_EC_trip_ICE_HEV[i].unique())
    print(df_EC_trip_ICE_HEV[i].value_counts())

In [ ]:
for i in df_EC_trip_EV_PHEV.columns:
    print(f"Unique values in column '{i}':")
    print(df_EC_trip_EV_PHEV[i].unique())
    print(df_EC_trip_EV_PHEV[i].value_counts())

In [ ]:
'''
Created Scatter plots to show Energy Consumption Comparison by Vehicle Type by Trip
Distance vs FCR for ICE and HEV
Distance vs HV Battery Power[Watts] for EV and PHEV
'''

import matplotlib.pyplot as plt

# Create a 1x2 subplot
fig, axes = plt.subplots(1, 2, figsize=(11, 5), sharex=False)

# ---------- Subplot 1: ICE vs HEV ----------
ax1 = axes[0]
ax1.scatter(
    df_EC_trip_ICE_HEV[df_EC_trip_ICE_HEV['Vehicle Type'] == 'ICE']['Distance[km]'],
    df_EC_trip_ICE_HEV[df_EC_trip_ICE_HEV['Vehicle Type'] == 'ICE']['FCR'],
    alpha=0.5,
    c='blue',
    label='ICE'
)
ax1.scatter(
    df_EC_trip_ICE_HEV[df_EC_trip_ICE_HEV['Vehicle Type'] == 'HEV']['Distance[km]'],
    df_EC_trip_ICE_HEV[df_EC_trip_ICE_HEV['Vehicle Type'] == 'HEV']['FCR'],
    alpha=0.5,
    c='green',
    label='HEV'
)
ax1.set_xlabel('Distance (km)')
ax1.set_ylabel('Fuel Consumption Rate (L/hr)')
ax1.set_title('ICE vs HEV')
ax1.legend()
ax1.grid(True)

# ---------- Subplot 2: EV vs PHEV ----------
ax2 = axes[1]
ax2.scatter(
    df_EC_trip_EV_PHEV[df_EC_trip_EV_PHEV['Vehicle Type'] == 'PHEV']['Distance[km]'],
    df_EC_trip_EV_PHEV[df_EC_trip_EV_PHEV['Vehicle Type'] == 'PHEV']['HV Battery Power[Watts]'],
    alpha=0.5,
    c='red',
    label='PHEV'
)
ax2.scatter(
    df_EC_trip_EV_PHEV[df_EC_trip_EV_PHEV['Vehicle Type'] == 'EV']['Distance[km]'],
    df_EC_trip_EV_PHEV[df_EC_trip_EV_PHEV['Vehicle Type'] == 'EV']['HV Battery Power[Watts]'],
    alpha=0.5,
    c='orange',
    label='EV'
)
ax2.set_xlabel('Distance (km)')
ax2.set_ylabel('HV Battery Power (Watts)')
ax2.set_title('EV vs PHEV')
ax2.legend()
ax2.grid(True)

# ---------- Shared Title ----------
fig.suptitle('Energy Consumption Comparison by Vehicle Type over Trip', fontsize=14, fontweight='bold')
plt.tight_layout(rect=[0, 0, 1, 1])  # Leave space for suptitle
plt.show()

In [ ]:
'''
Created Scatter plots to show Energy Consumption Comparison by Vehicle Type over Time
Distance vs FCR for ICE and HEV
Distance vs HV Battery Power[Watts] for EV and PHEV
'''

import matplotlib.pyplot as plt

# Create a 1x2 subplot
fig, axes = plt.subplots(1, 2, figsize=(11, 5), sharex=False)

# ---------- Subplot 1: ICE vs HEV ----------
ax1 = axes[0]
ax1.scatter(
    df_EC_time_ICE_HEV[df_EC_time_ICE_HEV['Vehicle Type'] == 'ICE']['Distance[km]'],
    df_EC_time_ICE_HEV[df_EC_time_ICE_HEV['Vehicle Type'] == 'ICE']['FCR'],
    alpha=0.5,
    c='blue',
    label='ICE'
)
ax1.scatter(
    df_EC_time_ICE_HEV[df_EC_time_ICE_HEV['Vehicle Type'] == 'HEV']['Distance[km]'],
    df_EC_time_ICE_HEV[df_EC_time_ICE_HEV['Vehicle Type'] == 'HEV']['FCR'],
    alpha=0.5,
    c='green',
    label='HEV'
)
ax1.set_xlabel('Distance (km)')
ax1.set_ylabel('Fuel Consumption Rate (L/hr)')
ax1.set_title('ICE vs HEV')
ax1.legend()
ax1.grid(True)

# ---------- Subplot 2: EV vs PHEV ----------
ax2 = axes[1]
ax2.scatter(
    df_EC_time_EV_PHEV[df_EC_time_EV_PHEV['Vehicle Type'] == 'PHEV']['Distance[km]'],
    df_EC_time_EV_PHEV[df_EC_time_EV_PHEV['Vehicle Type'] == 'PHEV']['HV Battery Power[Watts]'],
    alpha=0.5,
    c='red',
    label='PHEV'
)
ax2.scatter(
    df_EC_time_EV_PHEV[df_EC_time_EV_PHEV['Vehicle Type'] == 'EV']['Distance[km]'],
    df_EC_time_EV_PHEV[df_EC_time_EV_PHEV['Vehicle Type'] == 'EV']['HV Battery Power[Watts]'],
    alpha=0.5,
    c='orange',
    label='EV'
)
ax2.set_xlabel('Distance (km)')
ax2.set_ylabel('HV Battery Power (Watts)')
ax2.set_title('EV vs PHEV')
ax2.legend()
ax2.grid(True)

# ---------- Shared Title ----------
fig.suptitle('Energy Consumption Comparison by Vehicle Type over Time', fontsize=14, fontweight='bold')
plt.tight_layout(rect=[0, 0, 1, 1])  # Leave space for suptitle
plt.show()

In [236]:
'''
Individual Vehicle Type analysis by Trip: df_ICE, df_HEV, df_EV, df_PHEV
'''

# Run for trip
df_ICE = df_EC_trip_ICE_HEV[df_EC_trip_ICE_HEV['Vehicle Type'] == 'ICE']
df_HEV = df_EC_trip_ICE_HEV[df_EC_trip_ICE_HEV['Vehicle Type'] == 'HEV']
df_EV = df_EC_trip_EV_PHEV[df_EC_trip_EV_PHEV['Vehicle Type'] == 'EV']
df_PHEV = df_EC_trip_EV_PHEV[df_EC_trip_EV_PHEV['Vehicle Type'] == 'PHEV']

In [149]:
'''
Individual Vehicle Type analysis by Time: df_ICE, df_HEV, df_EV, df_PHEV

# Run for time
df_ICE = df_EC_time_ICE_HEV[df_EC_time_ICE_HEV['Vehicle Type'] == 'ICE']
df_HEV = df_EC_time_ICE_HEV[df_EC_time_ICE_HEV['Vehicle Type'] == 'HEV']
df_EV = df_EC_time_EV_PHEV[df_EC_time_EV_PHEV['Vehicle Type'] == 'EV']
df_PHEV = df_EC_time_EV_PHEV[df_EC_time_EV_PHEV['Vehicle Type'] == 'PHEV']

'''

In [ ]:
'''
Handled Missing values as it is required during Regression
'''

# show the columns with missing values in df_ICE and df_HEV

missing_values = df_ICE.isnull().sum()
print("\nMissing values in ICE Vehicles:")
print(missing_values[missing_values > 0])

missing_values = df_HEV.isnull().sum()
print("\nMissing values in HEV Vehicles:")
print(missing_values[missing_values > 0])

missing_values = df_EV.isnull().sum()
print("\nMissing values in EV Vehicles:")
print(missing_values[missing_values > 0])

missing_values = df_PHEV.isnull().sum()
print("\nMissing values in PHEV Vehicles:")
print(missing_values[missing_values > 0])

In [ ]:
df_ICE.describe()

In [ ]:
df_HEV.describe()

In [ ]:
df_PHEV.describe()

In [243]:
# Handle missing values

df_ICE.fillna({
    'OAT[DegC]': 15,
    'Generalized_Weight': df_ICE['Generalized_Weight'].mean(),
    'FCR': df_ICE['FCR'].mean(),
    'HV Battery Power[Watts]': 0.0,  # ICE vehicles typically do not have HV Battery Power
    'Air Conditioning Power[Watts]' : 0,
    'Heater Power[Watts]': df_ICE['Heater Power[Watts]'].mean(),
    'MAF[g/sec]': df_ICE['MAF[g/sec]'].mean(),
    'Absolute Load[%]': df_ICE['Absolute Load[%]'].mean(),
    'Short Term Fuel Trim Bank 1[%]': df_ICE['Short Term Fuel Trim Bank 1[%]'].mean(),
    'Short Term Fuel Trim Bank 2[%]': df_ICE['Short Term Fuel Trim Bank 2[%]'].mean(),
    'Long Term Fuel Trim Bank 1[%]': df_ICE['Long Term Fuel Trim Bank 1[%]'].mean(),
    'Long Term Fuel Trim Bank 2[%]': df_ICE['Long Term Fuel Trim Bank 2[%]'].mean(),
    'Vehicle Speed[km/h]': df_ICE['Vehicle Speed[km/h]'].mean(),
    'Distance[km]': df_ICE['Distance[km]'].mean(),
    'Engine RPM[RPM]': df_ICE['Engine RPM[RPM]'].mean()
}, inplace=True)

df_HEV.fillna({
    'OAT[DegC]': 15,
    'FCR': df_HEV['FCR'].mean(),
    'HV Battery Power[Watts]': 0,
    'Air Conditioning Power[Watts]': 0,
    'Heater Power[Watts]': 0,
    'MAF[g/sec]': df_HEV['MAF[g/sec]'].mean(),
    'Absolute Load[%]': df_HEV['Absolute Load[%]'].mean(),
    'Short Term Fuel Trim Bank 1[%]': df_HEV['Short Term Fuel Trim Bank 1[%]'].mean(),
    'Short Term Fuel Trim Bank 2[%]': df_HEV['Short Term Fuel Trim Bank 2[%]'].mean(),
    'Long Term Fuel Trim Bank 1[%]': df_HEV['Long Term Fuel Trim Bank 1[%]'].mean(),
    'Long Term Fuel Trim Bank 2[%]': df_HEV['Long Term Fuel Trim Bank 2[%]'].mean(),'Vehicle Speed[km/h]': df_ICE['Vehicle Speed[km/h]'].mean(),
    'Distance[km]': df_HEV['Distance[km]'].mean(),
    'Engine RPM[RPM]': df_HEV['Engine RPM[RPM]'].mean()
}, inplace=True)

df_EV.fillna({
    'Engine RPM[RPM]': 0,  # EVs typically do not have engine RPM
    'FCR': 0,  # EVs typically do not have fuel consumption rate  
    'MAF[g/sec]': 0,
    'Absolute Load[%]': 0,
    'Short Term Fuel Trim Bank 1[%]': 0,
    'Short Term Fuel Trim Bank 2[%]': 0,
    'Long Term Fuel Trim Bank 1[%]': 0,
    'Long Term Fuel Trim Bank 2[%]': 0
}, inplace=True)

df_PHEV.fillna({
    'OAT[DegC]': 15,
    'FCR': df_PHEV['FCR'].mean(),
    'HV Battery Power[Watts]': 0.0,  # PHEVs typically do not have HV Battery Power
    'Air Conditioning Power[Watts]': 0,
    'Heater Power[Watts]': 0,
    'MAF[g/sec]': df_PHEV['MAF[g/sec]'].mean(),
    'Absolute Load[%]': df_PHEV['Absolute Load[%]'].mean(),
    'Short Term Fuel Trim Bank 1[%]': df_PHEV['Short Term Fuel Trim Bank 1[%]'].mean(),
    'Short Term Fuel Trim Bank 2[%]': 0,
    'Long Term Fuel Trim Bank 1[%]': df_PHEV['Long Term Fuel Trim Bank 1[%]'].mean(),
    'Long Term Fuel Trim Bank 2[%]': 0
}, inplace=True)

In [244]:
"""
Created a function to Perform linear regression using given features and target.
Prints model coefficients, regression equation, and evaluation metrics.
Returns:
    model: Trained linear regression model.
    X_test, y_test: Test data for further analysis.
    y_pred: Predictions on test set.
    regression_line_model: Model for plotting Actual vs Predicted regression line.
"""

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np

def linear_regression_analysis(features, target, X, y):

    # Split data
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.2, random_state=42
    )

    # Fit linear model
    model = LinearRegression()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    # Print model coefficients
    print("Model Coefficients:")
    for feature, coef in zip(features, model.coef_):
        print(f"  {feature}: {coef:.4f}")

    # Print regression equation
    equation = " + ".join([f"{coef:.4f}*{feature}" for feature, coef in zip(features, model.coef_)])
    print(f"\nRegression Equation:")
    print(f"  Slope of the regression line: {model.coef_}")
    print(f"  Intercept: {model.intercept_:.4f}")
    print(f"  Target Variable: {target}")
    print(f"  {target} = {equation} + {model.intercept_:.4f}\n")

    # Evaluation metrics
    r2 = r2_score(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)

    print("Evaluation Metrics:")
    print(f"  R¬≤ Score  : {r2:.4f}")
    print(f"  MAE       : {mae:.4f}")
    print(f"  MSE       : {mse:.4f}")
    print(f"  RMSE      : {rmse:.4f}\n")

    # Regression line for plotting (optional)
    regression_line_model = LinearRegression()
    regression_line_model.fit(y_test.values.reshape(-1, 1), y_pred)

    return model, X_test, y_test, y_pred, regression_line_model

# Linear Regression to Predict Energy Consumption in ICE, HEV, EV and PHEV Vehicles

In [ ]:
"""
Scenario 1 for ICE
Performed linear regression analysis to predict FCR for ICE vehicles using 'Vehicle Speed[km/h]' and 'Distance[km]' as features.
Trained the model and obtained predictions on the test set.
Plotted Actual vs Predicted FCR values and the regression line.
Displayed evaluation metrics (R¬≤, MAE, MSE, RMSE) on the plot.
"""

#features = ['Vehicle Speed[km/h]','Distance[km]', 'Engine RPM[RPM]']
features = ['Vehicle Speed[km/h]','Distance[km]']
target = 'FCR'
X = df_ICE[features]
y = df_ICE[target]
model, X_test, y_test, y_pred, regression_line_model = linear_regression_analysis(features, target, X, y)

# plotting the results
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

y_test_sorted = np.sort(y_test)
y_line = regression_line_model.predict(y_test_sorted.reshape(-1, 1))

plt.figure(figsize=(6, 3))
plt.scatter(y_test, y_pred, alpha=0.5, color='blue')
# Plotted the regression line
plt.plot(y_test_sorted, y_line, color='red', linestyle='--', linewidth=2, label='Regression Line')
plt.title('Actual vs Predicted FCR for ICE Vehicles')
plt.xlabel('Actual FCR (L/hr)')
plt.ylabel('Predicted FCR (L/hr)')
plt.text(1.20, 0.5, f'R¬≤: {r2_score(y_test, y_pred):.4f}\nMAE: {mean_absolute_error(y_test, y_pred):.4f}\nMSE: {mean_squared_error(y_test, y_pred):.4f}\nRMSE: {np.sqrt(mean_squared_error(y_test, y_pred)):.4f}',
         fontsize=10, ha='center', va='center', transform=plt.gca().transAxes, bbox=dict(facecolor='white', alpha=0.5))
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
X = df_ICE[features]
print(X.head())
y = df_ICE[target]
print(y.head())

In [ ]:
param = [model, X_test, y_test, y_pred, regression_line_model, y_test_sorted, y_line]

# print the value of the param variable using for loop

for i, value in enumerate(param):
    print(f"Parameter {i}: {value}")
    print()  # Add a newline for better readability

In [ ]:
"""
Scenario 2 for ICE
Performed linear regression analysis using selected features to predict FCR for ICE vehicles.
Plotted Actual vs Predicted FCR values and regression line.
Displayed evaluation metrics: R¬≤, MAE, MSE, and RMSE on the plot.
"""

features = ['Latitude[deg]','Longitude[deg]','Vehicle Speed[km/h]','Distance[km]', 'Engine RPM[RPM]', 'OAT[DegC]', 'Generalized_Weight']
target = 'FCR'
X = df_ICE[features]
y = df_ICE[target]
model, X_test, y_test, y_pred, regression_line_model = linear_regression_analysis(features, target, X, y)

# plotting the results
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

y_test_sorted = np.sort(y_test)
y_line = regression_line_model.predict(y_test_sorted.reshape(-1, 1))

plt.figure(figsize=(6, 3))
plt.scatter(y_test, y_pred, alpha=0.5, color='blue')
# Plotted the regression line
plt.plot(y_test_sorted, y_line, color='red', linestyle='--', linewidth=2, label='Regression Line')
plt.title('Actual vs Predicted FCR for ICE Vehicles')
plt.xlabel('Actual FCR (L/hr)')
plt.ylabel('Predicted FCR (L/hr)')
plt.text(1.20, 0.5, f'R¬≤: {r2_score(y_test, y_pred):.4f}\nMAE: {mean_absolute_error(y_test, y_pred):.4f}\nMSE: {mean_squared_error(y_test, y_pred):.4f}\nRMSE: {np.sqrt(mean_squared_error(y_test, y_pred)):.4f}',
         fontsize=10, ha='center', va='center', transform=plt.gca().transAxes, bbox=dict(facecolor='white', alpha=0.5))
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
"""
Scenario 3 for ICE
Performed linear regression analysis using selected features to predict FCR for ICE vehicles.
Plotted Actual vs Predicted FCR values and regression line.
Displayed evaluation metrics: R¬≤, MAE, MSE, and RMSE on the plot.
"""

features = ['Vehicle Speed[km/h]', 'Distance[km]', 'Engine RPM[RPM]', 'OAT[DegC]', 'Generalized_Weight']
#features = ['Vehicle Speed[km/h]', 'Distance[km]', 'Engine RPM[RPM]', 'OAT[DegC]']
target = 'FCR'
X = df_ICE[features]
y = df_ICE[target]
model, X_test, y_test, y_pred, regression_line_model = linear_regression_analysis(features, target, X, y)

# plotting the results
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

y_test_sorted = np.sort(y_test)
y_line = regression_line_model.predict(y_test_sorted.reshape(-1, 1))

plt.figure(figsize=(6, 3))
plt.scatter(y_test, y_pred, alpha=0.5, color='blue')
# Plotted the regression line
plt.plot(y_test_sorted, y_line, color='red', linestyle='--', linewidth=2, label='Regression Line')
plt.title('Actual vs Predicted FCR for ICE Vehicles')
plt.xlabel('Actual FCR (L/hr)')
plt.ylabel('Predicted FCR (L/hr)')
plt.text(1.20, 0.5, f'R¬≤: {r2_score(y_test, y_pred):.4f}\nMAE: {mean_absolute_error(y_test, y_pred):.4f}\nMSE: {mean_squared_error(y_test, y_pred):.4f}\nRMSE: {np.sqrt(mean_squared_error(y_test, y_pred)):.4f}',
         fontsize=10, ha='center', va='center', transform=plt.gca().transAxes, bbox=dict(facecolor='white', alpha=0.5))
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
"""
Scenario 4 for ICE
Performed linear regression analysis using selected features to predict FCR for ICE vehicles.
Used features: Vehicle Speed[km/h], Distance[km], Generalized_Weight, MAF[g/sec], Absolute Load[%], Short Term Fuel Trim Bank 1[%], Short Term Fuel Trim Bank 2[%], Long Term Fuel Trim Bank 1[%], Long Term Fuel Trim Bank 2[%].
Plotted Actual vs Predicted FCR values and regression line.
Displayed evaluation metrics: R¬≤, MAE, MSE, and RMSE on the plot.
"""

#features = ['Vehicle Speed[km/h]', 'Distance[km]', 'Engine RPM[RPM]', 'OAT[DegC]', 'Generalized_Weight','MAF[g/sec]',
#                   'Absolute Load[%]', 'Short Term Fuel Trim Bank 1[%]',
#       'Short Term Fuel Trim Bank 2[%]', 'Long Term Fuel Trim Bank 1[%]',
#       'Long Term Fuel Trim Bank 2[%]']
features = ['Vehicle Speed[km/h]', 'Distance[km]', 'Generalized_Weight','MAF[g/sec]',
                   'Absolute Load[%]', 'Short Term Fuel Trim Bank 1[%]',
       'Short Term Fuel Trim Bank 2[%]', 'Long Term Fuel Trim Bank 1[%]',
       'Long Term Fuel Trim Bank 2[%]']
target = 'FCR'
X = df_ICE[features]
y = df_ICE[target]
model, X_test, y_test, y_pred, regression_line_model = linear_regression_analysis(features, target, X, y)

# plotting the results
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

y_test_sorted = np.sort(y_test)
y_line = regression_line_model.predict(y_test_sorted.reshape(-1, 1))

plt.figure(figsize=(6, 3))
plt.scatter(y_test, y_pred, alpha=0.5, color='blue')
# Plotted the regression line
plt.plot(y_test_sorted, y_line, color='red', linestyle='--', linewidth=2, label='Regression Line')
plt.title('Actual vs Predicted FCR for ICE Vehicles')
plt.xlabel('Actual FCR (L/hr)')
plt.ylabel('Predicted FCR (L/hr)')
plt.text(1.20, 0.5, f'R¬≤: {r2_score(y_test, y_pred):.4f}\nMAE: {mean_absolute_error(y_test, y_pred):.4f}\nMSE: {mean_squared_error(y_test, y_pred):.4f}\nRMSE: {np.sqrt(mean_squared_error(y_test, y_pred)):.4f}',
         fontsize=10, ha='center', va='center', transform=plt.gca().transAxes, bbox=dict(facecolor='white', alpha=0.5))
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
"""
Scenario 1 for HEV
Performed linear regression analysis for HEV vehicles using 'MAF[g/sec]' as the feature and 'FCR' as the target.
Trained the model and generated predictions on the test set.
Plotted Actual vs Predicted FCR values and the regression line.
Displayed evaluation metrics: R¬≤, MAE, MSE, and RMSE on the plot.
"""

'''
features = ['Vehicle Speed[km/h]',
             'Distance[km]',
               'Engine RPM[RPM]',
                 'OAT[DegC]',
                   'Generalized_Weight',
                   'HV Battery Power[Watts]',
                   'MAF[g/sec]',
                   'Absolute Load[%]', 'Short Term Fuel Trim Bank 1[%]',
       'Short Term Fuel Trim Bank 2[%]', 'Long Term Fuel Trim Bank 1[%]',
       'Long Term Fuel Trim Bank 2[%]'
                   ]
'''
'''
features = ['Vehicle Speed[km/h]',
             'Distance[km]',
                   'Generalized_Weight',
                   'MAF[g/sec]',
                   'Absolute Load[%]', 'Short Term Fuel Trim Bank 1[%]',
        'Long Term Fuel Trim Bank 1[%]'
                   ]
'''



features = [
    'MAF[g/sec]'
]

target = 'FCR'
X = df_HEV[features]
y = df_HEV[target]
model, X_test, y_test, y_pred, regression_line_model = linear_regression_analysis(features, target, X, y)

import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

y_test_sorted = np.sort(y_test)
y_line = regression_line_model.predict(y_test_sorted.reshape(-1, 1))

plt.figure(figsize=(6, 3))
plt.scatter(y_test, y_pred, alpha=0.5, color='blue')
plt.plot(y_test_sorted, y_line, color='red', linestyle='--', linewidth=2, label='Regression Line')
plt.title('Actual vs Predicted FCR for HEV Vehicles')
plt.xlabel('Actual FCR (L/hr)')
plt.ylabel('Predicted FCR (L/hr)')
plt.text(1.20, 0.5, f'R¬≤: {r2_score(y_test, y_pred):.4f}\nMAE: {mean_absolute_error(y_test, y_pred):.4f}\nMSE: {mean_squared_error(y_test, y_pred):.4f}\nRMSE: {np.sqrt(mean_squared_error(y_test, y_pred)):.4f}',
         fontsize=10, ha='center', va='center', transform=plt.gca().transAxes, bbox=dict(facecolor='white', alpha=0.5))
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
'''
Created a function to handle outliers using IQR
'''

def handle_outliers_iqr(df, columns, method='cap'):
    """
    Detects and handles outliers in specified columns using the IQR method.
    Adds boolean columns for outlier flags and modifies outliers in place.
    method: 'cap' (default) replaces outliers with nearest bound, 'remove' drops outlier rows.
    Returns the modified DataFrame.
    """
    df = df.copy()
    for col in columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR
        outlier_flag = (df[col] < lower) | (df[col] > upper)
        df[f'{col}_outlier'] = outlier_flag
        if method == 'cap':
            df.loc[df[col] < lower, col] = lower
            df.loc[df[col] > upper, col] = upper
        elif method == 'remove':
            df = df[~outlier_flag]
    return df

# Example usage for EV outliers (capping outliers)
outlier_columns = ['Air Conditioning Power[Watts]','Heater Power[Watts]','Vehicle Speed[km/h]','HV Battery Power[Watts]']
df_EV_clean = handle_outliers_iqr(df_EV, outlier_columns, method='cap')
df_EV_clean.head()

In [ ]:
'''
Scenario 1 for EV
Selected features for linear regression analysis to predict HV Battery Power for EVs.
Performed linear regression using the selected features and target.
Plotted Actual vs Predicted Power for EV vehicles, including regression line and evaluation metrics (R¬≤, MAE, MSE, RMSE).
'''

'''
features = ['Latitude[deg]',
            'Longitude[deg]',
            'Air Conditioning Power[Watts]',
            'Heater Power[Watts]',
            'Vehicle Speed[km/h]',
            'Distance[km]',
            'OAT[DegC]',
            'Generalized_Weight']
'''

'''
features = [
            'Air Conditioning Power[Watts]',
            'Heater Power[Watts]',
            'Vehicle Speed[km/h]',
            'Distance[km]',
            'OAT[DegC]']
'''

features = [
    'Air Conditioning Power[Watts]',
    'Heater Power[Watts]',
    'Vehicle Speed[km/h]',
]

target = 'HV Battery Power[Watts]'
X = df_EV[features]
y = df_EV[target]
model, X_test, y_test, y_pred, regression_line_model = linear_regression_analysis(features, target, X, y)

import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

y_test_sorted = np.sort(y_test)
y_line = regression_line_model.predict(y_test_sorted.reshape(-1, 1))

plt.figure(figsize=(7, 3))
plt.scatter(y_test, y_pred, alpha=0.5, color='blue')
plt.plot(y_test_sorted, y_line, color='red', linestyle='--', linewidth=2, label='Regression Line')
plt.title('Actual vs Predicted Power for EV Vehicles')
plt.xlabel('Actual Power (Watts)')
plt.ylabel('Predicted Power (Watts)')
plt.text(
    1.20, 0.5,
    f'R¬≤: {r2_score(y_test, y_pred):.4f}\nMAE: {mean_absolute_error(y_test, y_pred):.4f}\nMSE: {mean_squared_error(y_test, y_pred):.4f}\nRMSE: {np.sqrt(mean_squared_error(y_test, y_pred)):.4f}',
    fontsize=10, ha='center', va='center', transform=plt.gca().transAxes,
    bbox=dict(facecolor='white', alpha=0.5)
)
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
'''
Scenario 2 for EV without outliers
'''

'''
features = ['Latitude[deg]',
            'Longitude[deg]',
            'Air Conditioning Power[Watts]',
            'Heater Power[Watts]',
            'Vehicle Speed[km/h]',
            'Distance[km]',
            'OAT[DegC]',
            'Generalized_Weight']
'''

'''
features = [
            'Air Conditioning Power[Watts]',
            'Heater Power[Watts]',
            'Vehicle Speed[km/h]',
            'Distance[km]',
            'OAT[DegC]']
'''


features = [
            'Air Conditioning Power[Watts]',
            'Heater Power[Watts]',
            'Vehicle Speed[km/h]',
            ]


target = 'HV Battery Power[Watts]'
X = df_EV_clean[features]
y = df_EV_clean[target]
model, X_test, y_test, y_pred, regression_line_model = linear_regression_analysis(features, target, X, y)

# plotting the results
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

y_test_sorted = np.sort(y_test)
y_line = regression_line_model.predict(y_test_sorted.reshape(-1, 1))

plt.figure(figsize=(7, 3))
plt.scatter(y_test, y_pred, alpha=0.5, color='blue')
#plot the regression line
plt.plot(y_test_sorted, y_line, color='red', linestyle='--', linewidth=2, label='Regression Line')
plt.title('Actual vs Predicted Power for EV Vehicles')
plt.xlabel('Actual Power (Watts)')
plt.ylabel('Predicted Power (Watts)')
plt.text(1.20, 0.5, f'R¬≤: {r2_score(y_test, y_pred):.4f}\nMAE: {mean_absolute_error(y_test, y_pred):.4f}\nMSE: {mean_squared_error(y_test, y_pred):.4f}\nRMSE: {np.sqrt(mean_squared_error(y_test, y_pred)):.4f}',
         fontsize=10, ha='center', va='center', transform=plt.gca().transAxes, bbox=dict(facecolor='white', alpha=0.5))
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
df_EV.describe()

In [ ]:
df_PHEV.describe()

In [ ]:
'''
Scenario 1 for PHEV
Selected features and target for linear regression analysis on PHEV data.
Performed linear regression using the selected features to predict HV Battery Power.
Plotted Actual vs Predicted Power for PHEV vehicles, including regression line and evaluation metrics (R¬≤, MAE, MSE, RMSE).
'''

'''
features = ['Latitude[deg]',
            'Longitude[deg]',
            'Engine RPM[RPM]',
            'Air Conditioning Power[Watts]',
            'Heater Power[Watts]',
            'Vehicle Speed[km/h]',
            'Distance[km]',
            'OAT[DegC]',
            'Generalized_Weight',
            ]
'''

features = [
    'Engine RPM[RPM]',
    'Air Conditioning Power[Watts]',
    'Vehicle Speed[km/h]',
    'OAT[DegC]',
]

target = 'HV Battery Power[Watts]'
X = df_PHEV[features]
y = df_PHEV[target]
model, X_test, y_test, y_pred, regression_line_model = linear_regression_analysis(features, target, X, y)

import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

y_test_sorted = np.sort(y_test)
y_line = regression_line_model.predict(y_test_sorted.reshape(-1, 1))

plt.figure(figsize=(8, 3))
plt.scatter(y_test, y_pred, alpha=0.5, color='blue')
plt.plot(y_test_sorted, y_line, color='red', linestyle='--', linewidth=2, label='Regression Line')
plt.title('Actual vs Predicted Power for PHEV Vehicles')
plt.xlabel('Actual Power (Watts)')
plt.ylabel('Predicted Power (Watts)')
plt.text(
    1.20, 0.5,
    f'R¬≤: {r2_score(y_test, y_pred):.4f}\nMAE: {mean_absolute_error(y_test, y_pred):.4f}\nMSE: {mean_squared_error(y_test, y_pred):.4f}\nRMSE: {np.sqrt(mean_squared_error(y_test, y_pred)):.4f}',
    fontsize=10, ha='center', va='center', transform=plt.gca().transAxes,
    bbox=dict(facecolor='white', alpha=0.5)
)
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
df_ICE.info()

In [ ]:
'''
This cell performs SHAP (SHapley Additive exPlanations) analysis on a linear regression model for HEV vehicles:

1. Imports required libraries for SHAP analysis, linear regression, and data preprocessing
2. Defines features including vehicle performance metrics, environmental conditions, and fuel system parameters
3. Sets FCR (Fuel Consumption Rate) as the target variable for HEV vehicles
4. Standardizes features using StandardScaler to improve SHAP analysis with linear models
5. Splits data into training and testing sets (80/20 split)
6. Trains a LinearRegression model on the standardized training data
7. Creates a SHAP explainer for the linear model using training data
8. Generates SHAP values for test data to understand feature importance
9. Visualizes SHAP analysis through:
   - Bar plot showing overall feature importance
   - Beeswarm plot showing feature effects distribution
   - Waterfall plot for individual prediction explanation
10. Creates a DataFrame of SHAP values for further analysis
'''

import pandas as pd
import numpy as np
import shap
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Example features and target
features = ['Vehicle Speed[km/h]',
             'Distance[km]',
               'Engine RPM[RPM]',
                 'OAT[DegC]',
                   'Generalized_Weight',
                   'HV Battery Power[Watts]',
                   'MAF[g/sec]',
                   'Absolute Load[%]', 'Short Term Fuel Trim Bank 1[%]',
       'Short Term Fuel Trim Bank 2[%]', 'Long Term Fuel Trim Bank 1[%]',
       'Long Term Fuel Trim Bank 2[%]'
                   ]

target = 'FCR'
X = df_HEV[features]
y = df_HEV[target]

# Standardize features (optional but helps SHAP with linear models)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

explainer = shap.Explainer(model, X_train)  # uses LinearExplainer
shap_values = explainer(X_test)

shap.plots.bar(shap_values)

shap.plots.beeswarm(shap_values)

shap.plots.waterfall(shap_values[0])

shap_df = pd.DataFrame(shap_values.values, columns=features)
shap_df.head()

# K means Clustering Classification models to categorize vehicle type

In [260]:
df_combined = pd.concat([df_ICE, df_HEV, df_PHEV, df_EV], ignore_index=True)

In [ ]:
df_combined_k = df_combined[['Trip','FCR']]

In [262]:
df_combined_sf = df_combined[['Vehicle Speed[km/h]','FCR']]

In [263]:
df_combined_sb = df_combined[['Vehicle Speed[km/h]','HV Battery Power[Watts]']]

In [264]:
df_combined_of = df_combined[['OAT[DegC]','FCR']]

In [265]:
df_combined_ob = df_combined[['OAT[DegC]','HV Battery Power[Watts]']]

In [266]:
'''
This cell:
- Imports necessary libraries: numpy, matplotlib.pyplot, and KMeans from sklearn.
- Defines a function `plot_kmeans_elbow` that:
    - Computes KMeans clustering inertia for cluster counts from 1 to 4.
    - Calculates the difference in inertia to suggest an optimal number of clusters (elbow point).
    - Prints the suggested optimal K.
    - Plots the inertia values (elbow curve) to visually assist in selecting the optimal number of clusters.
'''

import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

def plot_kmeans_elbow(df):
    """
    Plots the elbow curve for KMeans clustering to help select the optimal number of clusters.
    
    Args:
        df (pd.DataFrame): DataFrame containing the features for clustering.
    """
    inertia = []
    for i in range(1, 5):
        kmeans = KMeans(n_clusters=i, init='random', random_state=42)
        kmeans.fit(df)
        inertia.append(kmeans.inertia_)

    # Find elbow point (simple method: where the decrease in inertia slows down the most)
    diff = np.diff(inertia)
    elbow_k = np.argmin(diff) + 2  # +2 because diff is one less and we start from k=1
    print("Suggested optimal K:", elbow_k)   

    # Plot the elbow curve
    plt.figure(figsize=(5, 3))
    plt.plot(range(1, 5), inertia, 'bo-')
    plt.xlabel('Number of Clusters (K)')
    plt.ylabel('Inertia')
    plt.title('Elbow Method for Optimal K Selection')
    plt.grid(True)
    plt.show()

In [ ]:
plot_kmeans_elbow(df_combined_k)

In [269]:
'''
This cell:
- Imports KMeans from sklearn.
- Defines a function `fit_predict_kmeans` that:
    - Fits KMeans clustering to the input DataFrame with a specified number of clusters.
    - Predicts cluster labels for the input data.
    - Adds a new 'Cluster' column to the DataFrame with the assigned cluster labels.
    - Returns the modified DataFrame, the predicted cluster labels, and the fitted KMeans object.
'''

from sklearn.cluster import KMeans

def fit_predict_kmeans(df, n_clusters, random_state=42):
    """
    Fits KMeans clustering on the given DataFrame and returns a copy with a new 'Cluster' column.
    
    Parameters:
        df (pd.DataFrame): The input DataFrame (features only, no target).
        n_clusters (int): Number of clusters to use.
        random_state (int): Random state for reproducibility.
        
    Returns:
        pd.DataFrame: A copy of the input DataFrame with an added 'Cluster' column.
        np.ndarray: The predicted cluster labels.
        KMeans: The fitted KMeans object.
    """
    kmeans = KMeans(n_clusters=n_clusters, random_state=random_state)
    kmeans.fit(df)
    pred = kmeans.predict(df)
    df['Cluster'] = kmeans.labels_
    return df, pred, kmeans

# Example usage:
# df_with_clusters, cluster_labels, kmeans_model = fit_predict_kmeans(df, elbow_k)

In [ ]:
fit_predict_kmeans(df_combined_k, 4)

In [ ]:
'''
This cell:
- Creates a scatter plot of 'Trip' vs 'FCR' from df_combined_k.
- Colors the points by their assigned KMeans cluster using the 'Cluster' column.
- Sets axis labels and a title.
- Adds a legend for the clusters.
- Displays the plot.
'''

plt.figure(figsize=(6, 3))
scatter = plt.scatter(
    df_combined_k['Trip'],
    df_combined_k['FCR'],
    c=df_combined_k['Cluster'],
    cmap='viridis',
    s=50
)
plt.xlabel('Trip Counts')
plt.ylabel('FCR')
plt.title('KMeans Clusters: Trip Counts vs FCR')
handles, labels = scatter.legend_elements(prop="colors")
plt.legend(handles, [f"Cluster {i}" for i in range(len(handles))])
plt.show()

In [ ]:
plot_kmeans_elbow(df_combined_sf)

In [ ]:
fit_predict_kmeans(df_combined_sf,4)

In [ ]:
'''
This cell:
- Creates a scatter plot of 'Vehicle Speed[km/h]' vs 'FCR' from df_combined_sf.
- Colors the points by their assigned KMeans cluster using the 'Cluster' column.
- Sets axis labels and a title.
- Adds a legend for the clusters.
- Displays the plot.
'''

plt.figure(figsize=(6, 3))
scatter = plt.scatter(
    df_combined_sf['Vehicle Speed[km/h]'],
    df_combined_sf['FCR'],
    c=df_combined_sf['Cluster'],
    cmap='viridis',
    s=50
)
plt.xlabel('Speed')
plt.ylabel('FCR')
plt.title('KMeans Clusters: Speed vs FCR')
handles, labels = scatter.legend_elements(prop="colors")
plt.legend(handles, [f"Cluster {i}" for i in range(len(handles))])
plt.show()

In [ ]:
df_combined_sf = df_combined[['Vehicle Type','Vehicle Speed[km/h]','FCR']]
df_combined_sf.head()

In [281]:
'''
This cell:
- Maps the 'Vehicle Type' column in df_combined_sf from string labels ('ICE', 'HEV', 'EV', 'PHEV')
  to numeric codes (0, 1, 2, 3) for further analysis or modeling.
'''

df_combined_sf['Vehicle Type'] = df_combined_sf['Vehicle Type'].map({'ICE': 0, 'HEV': 1, 'EV': 2, 'PHEV': 3})

In [ ]:
plot_kmeans_elbow(df_combined_sf)

In [ ]:
fit_predict_kmeans(df_combined_sf,3)

In [ ]:
'''
This code:
- Imports matplotlib for plotting.
- Gets the unique vehicle types from the dataframe.
- Creates a 2x2 grid of subplots for visualizing each vehicle type.
- Iterates over each vehicle type, filtering the dataframe for that type.
- Plots a scatter plot of Speed vs FCR for each vehicle type, colored by cluster.
- Maps numeric vehicle type codes back to string labels for subplot titles.
- Sets axis labels and adds a legend for clusters in each subplot.
- Sets a common title for the figure and adjusts layout.
- Displays the plot.
'''

import matplotlib.pyplot as plt

vehicle_types = df_combined_sf['Vehicle Type'].unique()

fig, axes = plt.subplots(2, 2, figsize=(10, 6), sharey=True)
axes = axes.flatten()

for i, vtype in enumerate(vehicle_types):
    ax = axes[i]
    subset = df_combined_sf[df_combined_sf['Vehicle Type'] == vtype]
    scatter = ax.scatter(
        subset['Vehicle Speed[km/h]'],
        subset['FCR'],
        c=subset['Cluster'],
        cmap='viridis',
        s=50
    )
    # Map numeric vehicle type back to string for title
    vtype_str = {0: "ICE", 1: "HEV", 2: "EV", 3: "PHEV"}.get(vtype, str(vtype))
    ax.set_title(f'Vehicle Type: {vtype_str}')
    ax.set_xlabel('Speed')
    ax.set_ylabel('FCR')
    handles, labels = scatter.legend_elements(prop="colors")
    ax.legend(handles, [f"Cluster {i}" for i in range(len(handles))])

fig.suptitle('KMeans Clusters: Speed vs FCR by Vehicle Type', fontsize=16)
plt.tight_layout()
plt.show()

In [ ]:
plot_kmeans_elbow(df_combined_sb)

In [ ]:
fit_predict_kmeans(df_combined_sb,3)

In [ ]:
'''
- Creates a scatter plot of Vehicle Speed vs HV Battery Power, colored by KMeans cluster assignment.
- Sets axis labels and plot title.
- Adds a legend for the clusters.
- Displays the plot.
'''

plt.figure(figsize=(6, 3))
scatter = plt.scatter(
    df_combined_sb['Vehicle Speed[km/h]'],
    df_combined_sb['HV Battery Power[Watts]'],
    c=df_combined_sb['Cluster'],
    cmap='viridis',
    s=50
)
plt.xlabel('Speed')
plt.ylabel('Battery Power')
plt.title('KMeans Clusters: Speed vs Battery Power')
handles, labels = scatter.legend_elements(prop="colors")
plt.legend(handles, [f"Cluster {i}" for i in range(len(handles))])
plt.show()

In [ ]:
'''
This code calculates the silhouette score for KMeans clustering on the features
'Vehicle Speed[km/h]' and 'HV Battery Power[Watts]' from the dataframe df_combined_sb.
- It iterates over a range of cluster numbers (2 to 10).
- For each number of clusters, it fits a KMeans model and computes the silhouette score.
- The silhouette score measures how well each data point fits within its cluster (higher is better).
- Finally, it plots the silhouette scores against the number of clusters to help select the optimal cluster count.
'''

# Calculate silhouette score for each cluster
from sklearn.metrics import silhouette_score
from sklearn.cluster import KMeans

# Calculate silhouette score for each cluster
silhouette_scores = []
for n_clusters in range(2, 5):
    kmeans = KMeans(n_clusters=n_clusters, random_state=42)
    kmeans.fit(df_combined_sb[['Vehicle Speed[km/h]', 'HV Battery Power[Watts]']])
    labels = kmeans.labels_
    score = silhouette_score(df_combined_sb[['Vehicle Speed[km/h]', 'HV Battery Power[Watts]']], labels)
    silhouette_scores.append((n_clusters, score))
    
# Plot silhouette scores
plt.figure(figsize=(5, 3))
plt.plot([score[0] for score in silhouette_scores], [score[1] for score in silhouette_scores], marker='o')
plt.xlabel('Number of Clusters')
plt.ylabel('Silhouette Score')
plt.title('Silhouette Scores for KMeans Clustering')
plt.grid(True)
plt.show()

In [ ]:
df_combined_sb = df_combined[['Vehicle Type','Vehicle Speed[km/h]','HV Battery Power[Watts]']]
# map vehicle type to 0,1,2,3
df_combined_sb['Vehicle Type'] = df_combined_sb['Vehicle Type'].map({'ICE': 0, 'HEV': 1, 'EV': 2, 'PHEV': 3})

df_combined_sb.head()

In [ ]:
plot_kmeans_elbow(df_combined_sb)
fit_predict_kmeans(df_combined_sb,3)

In [ ]:
'''
This code creates a 2x2 grid of scatter plots, one for each vehicle type, showing the relationship between 'Vehicle Speed[km/h]' and 'HV Battery Power[Watts]' for each type. 
- It iterates over unique vehicle types, selects the corresponding subset of data, and plots the points colored by their KMeans cluster assignment.
- The numeric vehicle type is mapped back to a string for the plot title.
- Each subplot includes a legend for the clusters.
- The overall figure is titled and laid out neatly.
'''

import matplotlib.pyplot as plt

vehicle_types = df_combined_sf['Vehicle Type'].unique()

fig, axes = plt.subplots(2, 2, figsize=(10, 6), sharey=True)
axes = axes.flatten()

for i, vtype in enumerate(vehicle_types):
    ax = axes[i]
    subset = df_combined_sb[df_combined_sb['Vehicle Type'] == vtype]
    scatter = ax.scatter(
        subset['Vehicle Speed[km/h]'],
        subset['HV Battery Power[Watts]'],
        c=subset['Cluster'],
        cmap='viridis',
        s=50
    )
    # Map numeric vehicle type back to string for title
    vtype_str = {0: "ICE", 1: "HEV", 2: "EV", 3: "PHEV"}.get(vtype, str(vtype))
    ax.set_title(f'Vehicle Type: {vtype_str}')
    ax.set_xlabel('Speed')
    ax.set_ylabel('Battery Power')
    handles, labels = scatter.legend_elements(prop="colors")
    ax.legend(handles, [f"Cluster {i}" for i in range(len(handles))])

fig.suptitle('KMeans Clusters: Speed vs Battery Power by Vehicle Type', fontsize=16)
plt.tight_layout()
plt.show()

In [ ]:
df_combined_sb

In [ ]:
plot_kmeans_elbow(df_combined_of)
fit_predict_kmeans(df_combined_of,5)

In [ ]:
'''
This code creates a scatter plot to visualize KMeans clustering results.
- It plots 'OAT[DegC]' (Outside Air Temperature) vs 'FCR', coloring points by their cluster assignment.
- The color map 'viridis' is used for cluster coloring.
- The plot includes axis labels, a title, and a legend indicating cluster numbers.
'''

plt.figure(figsize=(6, 3))
scatter = plt.scatter(
    df_combined_of['OAT[DegC]'],
    df_combined_of['FCR'],
    c=df_combined_of['Cluster'],
    cmap='viridis',
    s=50
)
plt.xlabel('Outside Air Temperature')
plt.ylabel('FCR')
plt.title('KMeans Clusters: Outside Air Temperature vs  FCR')
handles, labels = scatter.legend_elements(prop="colors")
plt.legend(handles, [f"Cluster {i}" for i in range(len(handles))])
plt.show()

In [ ]:
plot_kmeans_elbow(df_combined_ob)
fit_predict_kmeans(df_combined_ob,5)

In [ ]:
'''
This code creates a scatter plot to visualize KMeans clustering results.
- It plots 'OAT[DegC]' (Outside Air Temperature) vs 'HV Battery Power[Watts]', coloring points by their cluster assignment.
- The color map 'viridis' is used for cluster coloring.
- The plot includes axis labels, a title, and a legend indicating cluster numbers.
'''

plt.figure(figsize=(6, 3))
scatter = plt.scatter(
    df_combined_ob['OAT[DegC]'],
    df_combined_ob['HV Battery Power[Watts]'],
    c=df_combined_ob['Cluster'],
    cmap='viridis',
    s=50
)
plt.xlabel('Outside Air Temperature')
plt.ylabel('Battery Power')
plt.title('KMeans Clusters: Outside Air Temperature vs  Battery Power')
handles, labels = scatter.legend_elements(prop="colors")
plt.legend(handles, [f"Cluster {i}" for i in range(len(handles))])
plt.show()